<div class="animated fadeIn">


    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
             My Action Plan  
             <div class="form-group form-actions pull-right m-0">
                <button class="btn btn-sm btn-primary" data-toggle="modal" (click)="openDevGoalForm()">&#x271A; Developmental Goals</button>&nbsp;
                <button class="btn btn-sm btn-primary" data-toggle="modal" (click)="openStrengthsForm()">&#x271A; Strengths</button>&nbsp;
                <button [disabled]="unSubmitedCount==0 && unSubmitedStrenthCount==0" class="btn btn-sm btn-primary" data-toggle="modal" (click)="openConfirmSubmitDialog()">Submit Action Plan</button>
              </div>

                     </div>
          <div class="card-body">
            <tabset #staticTabs class="pro-tabs">
              <tab >
    
                <ng-template tabHeading>Developmental Goals</ng-template>

          <ag-grid-angular style="width: 970px; height: 350px;" class="ag-theme-alpine" 
                            
          [rowData]="devGoalRecords"
          [gridOptions]="goalsItemColumns"
          [pagination]="true"
          [paginationPageSize]="10"
         
          (rowClicked)="onDevGoalGridRowClick($event)"
          >
          </ag-grid-angular>
              </tab>
              <tab >
    
                <ng-template tabHeading>Strengths</ng-template>
                <ag-grid-angular style="width: 970px; height: 350px;" class="ag-theme-alpine" 
                            
                [rowData]="strengthRecords"
                [gridOptions]="strengthItemColumns"
                [pagination]="true"
                [paginationPageSize]="10"
               
                (rowClicked)="onStrengthGridRowClick($event)"
                >
                </ag-grid-angular>
              </tab>
              
            </tabset>
            
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
