.ratingcard{
    padding: .4em;    
    font-size: 60px;
    text-align: center;
    background: #1779ba;
    color: #fefefe
}

.tab_name {
    font-size:16px;
    color: #717171;
    font-weight: 600;
}