<div class="animated fadeIn">


    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Reseller
  
            <button type="button" class="btn btn-primary mr-1 pull-right" data-toggle="modal"
              (click)="router.navigate(['psa/list'])">
              Back to list
            </button>
          </div>
          <div class="card-body">
  
            <form [formGroup]="clientForm" novalidate="" class="ng-untouched ng-pristine ng-valid">
              <div class="form-group row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text redStar">Organization Name</span>
                      </div>
                      <input [readonly]="!isCreate" max="500" class="form-control" type="text" formControlName="Name" name="Name"
                        [ngClass]="{ 'is-invalid':isFormSubmitted &&  f.Name.errors }" required>
                      <div *ngIf=" isFormSubmitted  && f.Name.errors" class="invalid-feedback">
                        <div *ngIf="f.Name.errors.required">Organization Name is required</div>
                        <div *ngIf="f.Name.errors.minlength">Organization Name must be at least 2 characters </div>
                        <div *ngIf="f.Name.errors.hasFirstCharNum">First character should be character </div>
                        <div *ngIf="f.Name.errors.hasNameSplChars">Allowed special characters are (.,-,(,),:) </div>
                      </div>
  
                    </div>
                  </div>
                </div>
  
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text redStar">Select Industry</span>
                      </div>
                      <select [ngClass]="{ 'is-invalid':isFormSubmitted &&  f.Industry.errors }"
                        formControlName="Industry" class="form-control">
                        <option value="" disabled selected>Select Industry</option>
                        <option *ngFor="let i of industries" [value]="i.Code">{{i.Name}}</option>
                      </select>
                      <div *ngIf=" isFormSubmitted &&   f.Industry.errors" class="invalid-feedback">
                        <div *ngIf="f.Industry.errors.required">Industry is required</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <h3>Organization Profile </h3>
              <div class="form-group row">
  
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text redStar">Address</span>
                      </div>
                      <textarea maxlength="500" class="form-control" cols="" rows="4"
                        [ngClass]="{ 'is-invalid':isFormSubmitted &&  f.Address.errors }" formControlName="Address"
                        name="Address" required>  </textarea>
                      <div *ngIf="isFormSubmitted && f.Address.errors" class="invalid-feedback">
                        <div *ngIf="f.Address.errors.required">Address is required</div>
                        <div *ngIf="f.Address.errors.minlength">Address must be at least 4 characters </div>
                        <div *ngIf="f.Address.errors.hasAddressSplChars">Allowed special characters are
                          (.,-,(,),&,#,:,/) </div>
                      </div>
  
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
  
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text redStar">Zip Code</span>
                      </div>
                      <input numbersOnly maxlength="8" [ngClass]="{ 'is-invalid':isFormSubmitted &&  f.ZipCode.errors }"
                        formControlName="ZipCode" class="form-control">
  
  
                      <div *ngIf=" isFormSubmitted && f.ZipCode.errors" class="invalid-feedback">
                        <div *ngIf="f.ZipCode.errors.required">Zip Code is required</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
  
                <div class="col-md-12">
                  <app-csc [reset]="countyFormReset" [CSCData]='cscData' (onSelect)="onCSCSelect($event)">
                  </app-csc>
                </div>
  
  
  
              </div>
              <div class="form-group row">
                <div class="col-md-4 ">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text redStar">Phone</span>
                      </div>
                      <input maxlength="10"  class="form-control"
                        [ngClass]="{ 'is-invalid':isFormSubmitted &&  f.Phone.errors }"
                         formControlName="Phone" numbersOnly required>
                      <div *ngIf="isFormSubmitted  && f.Phone.errors" class="invalid-feedback">
                        <div *ngIf="f.Phone.errors.required">Phone Number is required</div>  
                        <div *ngIf="f.Phone.errors.pattern">Phone Number must be 10 digit Number.</div>
  
  
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 ">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Ext Number</span>
                      </div>
                      <input type="text" class="form-control" numbersOnly maxlength="5"ormControlName="PhoneExt">
                    </div>
                  </div>
  
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text redStar">Email</span>
                      </div>
                      <input class="form-control" type="text"
                        [ngClass]="{ 'is-invalid':isFormSubmitted && f.Email.errors}" formControlName="Email" name="Email"
                        required>
                      <div *ngIf="isFormSubmitted   && f.Email.errors" class="invalid-feedback">
                        <div *ngIf="f.Email.errors.required">Email is required</div>
                        <div *ngIf="f.Email.errors.email">Email Must be a valid email address </div>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
  
              <!--Admin Form fields-->
              <h3>Admin Details </h3>
              <div class="form-group row">
                <div class="col-md-4 ">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text redStar">First Name</span>
                      </div>
                      <input type="text" class="form-control"
                        [ngClass]="{ 'is-invalid': isFormSubmitted && f.AdminFirstName.invalid }"
                        formControlName="AdminFirstName" required>
                      <div *ngIf="isFormSubmitted && f.AdminFirstName.errors" class="invalid-feedback">
                        <div *ngIf="f.AdminFirstName.errors.required">Admin First Name is required</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 ">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text ">Middle Name</span>
                      </div>
                      <input type="text" class="form-control" formControlName="AdminMiddleName">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text redStar">Last Name</span>
                      </div>
                      <input class="form-control" type="text"
                        [ngClass]="{ 'is-invalid': isFormSubmitted   &&  f.AdminLastName.errors}"
                        formControlName="AdminLastName">
                      <div *ngIf="isFormSubmitted && f.AdminLastName.errors" class="invalid-feedback">
                        <div *ngIf="f.AdminLastName.errors.required">Admin LastName is required</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text redStar">Phone</span>
                      </div>
                      <input maxlength="12" class="form-control" type="text"
                        [ngClass]="{ 'is-invalid': isFormSubmitted  &&  f.AdminPhone.errors }"
                        formControlName="AdminPhone" numbersOnly>
                      <div *ngIf="isFormSubmitted && f.AdminPhone.errors" class="invalid-feedback">
                        <div *ngIf="f.AdminPhone.errors.required">Admin Phone is required</div>
                        <div *ngIf="f.AdminPhone.errors.pattern">Admin Phone Number must be 10 digit Number.</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text redStar">Email</span>
                      </div>
                      <input class="form-control" type="text"
                        [ngClass]="{ 'is-invalid': isFormSubmitted &&  f.AdminEmail.errors }"
                        formControlName="AdminEmail">
                      <div *ngIf="isFormSubmitted && f.AdminEmail.errors" class="invalid-feedback">
                        <div *ngIf="f.AdminEmail.errors.required">Admin Email is required</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
  
              <div class="form-group row">
                <h3>Contact Person </h3>
                <div class="col-md-9 col-form-label pull-left">
                  <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" id="inline-checkbox1" formControlName="SameAsAdmin" type="checkbox"
                      value="option1">
                    <label class="form-check-label" for="inline-checkbox1">Same as Admin</label>
                  </div>
                </div>
              </div>
              <div formGroupName="contactPersonForm" class="form-group row">
                <div class="col-md-4 ">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text ">First Name</span>
                      </div>
                      <input maxlength="12" type="text" class="form-control"
                        [ngClass]="{ 'is-invalid': !f.SameAsAdmin.value && isFormSubmitted &&  a.ContactPersonFirstName.errors }"
                        formControlName="ContactPersonFirstName" required>
                      <div *ngIf="isFormSubmitted && !f.SameAsAdmin.value && a.ContactPersonFirstName.errors"
                        class="invalid-feedback">
                        <div *ngIf="a.ContactPersonFirstName.errors.required">Contact Person FirstName is required</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 ">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text ">Middle Name</span>
                      </div>
                      <input type="text" class="form-control" formControlName="ContactPersonMiddleName">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text ">Last Name</span>
                      </div>
                      <input class="form-control" type="text"
                        [ngClass]="!f.SameAsAdmin.value && isFormSubmitted &&  a.ContactPersonLastName.errors "
                        formControlName="ContactPersonLastName">
                      <div *ngIf="!f.SameAsAdmin.value && isFormSubmitted && a.ContactPersonLastName.errors"
                        class="invalid-feedback">
                        <div *ngIf="a.ContactPersonLastName.errors.required">Contact Person LastName is required</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text ">Phone</span>
                      </div>
                      <input class="form-control" type="text"
                        [ngClass]="{ 'is-invalid': !f.SameAsAdmin.value && isFormSubmitted &&  a.ContactPersonPhone.errors}"
                        formControlName="ContactPersonPhone" numbersOnly>
                      <div *ngIf="!f.SameAsAdmin.value && isFormSubmitted &&  a.ContactPersonPhone.errors"
                        class="invalid-feedback">
                        <div *ngIf="a.ContactPersonPhone.errors.required">Contact Person Phone is required</div>
                        <div *ngIf="a.ContactPersonPhone.errors.pattern">Contact Person Phone Number must be 10 digit
                          Number.</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text ">Email</span>
                      </div>
                      <input class="form-control" type="text"
                        [ngClass]="{ 'is-invalid': (!f.SameAsAdmin.value && isFormSubmitted &&  a.ContactPersonEmail.errors )}"
                        formControlName="ContactPersonEmail">
                      <div *ngIf="isFormSubmitted && !f.SameAsAdmin.value && a.ContactPersonEmail.errors"
                        class="invalid-feedback">
                        <div *ngIf="a.ContactPersonEmail.errors.required"> Email is required</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
  
  
  
            </form>
            <div *ngIf="errorOnSave" class="form-group row">
              <div class="alert alert-danger">
                <strong>Error:</strong> {{errorMessage}}
              </div>
  
            </div>
  
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" #closeModal
                (click)="router.navigate(['psa/list'])">Back To List</button>
                <button *ngIf="isCreate" type="button" (click)="saveAsDraft()" class="btn btn-primary">Save as Draft</button>
              <button type="button" (click)="createClient()" class="btn btn-primary">{{isCreate?'Create':'Update'}}</button>
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>