<div class="animated fadeIn">
  <div class="row">
        <div class="col-md-12" *ngIf="showDevGoalsForm;else noRecordsFound">
          <div class="card">
              <div  *ngIf="accessingFrom!='currEvaluation' "  class="card-header">
                  Strength

                  <div class="form-group form-actions pull-right m-0">
                      <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                      (click)="navToStrengthList()" ><i class="fa fa-arrow-left" style="padding-right: 8px;"></i>Back to list </button>  
                      &nbsp;<i (click)="printPage()" title="Print" class="fa fa-file-pdf-o hide-print" style="font-size:21px;color:red"></i>

                  </div>
                  
              </div>
              <div class="card-body">


                  <form  autocomplete="off"  [formGroup]="strengthBuildForm" novalidate="" [ngClass]="{ 'view-only': (currentAction == 'view' || accessingFrom =='currEvaluation' )}"
                   class="ng-untouched ng-pristine ng-valid">


                   <div class="form-group row">

                    <div class="col-md-6">
                      <div class="form-group">
                          <div class="input-group">
                              <div class="input-group-prepend">
                                  <span class="input-group-text redStar">Strength</span>
                              </div>
                              <input max="500" maxlength="500" class="form-control" type="text"
                                  [ngClass]="{ 'is-invalid': (f.Strength.touched || submitClicked)  &&  f.Strength.invalid }"
                                  formControlName="Strength" name="Strength" required
                                  [matAutocomplete]="devGoalsAuto">

                                  <mat-autocomplete #devGoalsAuto="matAutocomplete" (optionSelected)="onStrengthAutoSelected($event)" >
                                      <mat-option *ngFor="let option of filteredOptionsDevGoals | async" [value]="option">
                                        {{option.Strength}}
                                      </mat-option>
                                     </mat-autocomplete>

                              <div *ngIf=" (f.Strength.touched || submitClicked) && f.Strength.invalid" class="invalid-feedback">
                                <div *ngIf="f.Strength?.errors.required">Please provide Strength.</div>
                                 
                                  <div *ngIf="f.Strength.errors.hasKPISplChars">Strength can accept only a-z, A-Z, 0-9, .,-,(,),&,#,:,/</div>
                              </div>

                          </div>
                      </div>
                  </div>
                  

                </div>
                
                <div class="form-group row">
                  <div class="col-md-3">
                    <span class="levarage_txt redStar">How to Leverage</span>
                    <div class="input-group">
                      <textarea max="1000" maxlength="1000" class="form-control" type="text"
                      
                          [ngClass]="{ 'is-invalid': (f.Leverage.touched || submitClicked)  &&  f.Leverage.invalid }"
                          formControlName="Leverage" name="Leverage" required> </textarea>

                      <div *ngIf=" (f.Leverage.touched || submitClicked) && f.Leverage.invalid" class="invalid-feedback">
                        <div *ngIf="f.Leverage?.errors.required">How to Leverage is mandatory.</div>
                          <div *ngIf="f.Leverage.errors.hasKPISplChars">How to Leverage can accept only a-z, A-Z, 0-9, .,-,(,),&,#,:,/</div>
                      </div>

                  </div>
  
                  </div>
                  <div class="col-md-3">
                    <span class="levarage_txt redStar">Benefit (Self)</span>
                    <div class="input-group">
                                  
                      <textarea max="1000" maxlength="1000" class="form-control" type="text"
                      
                          [ngClass]="{ 'is-invalid': (f.SelfBenifit.touched || submitClicked)  &&  f.SelfBenifit.invalid }"
                          formControlName="SelfBenifit" name="SelfBenifit" required > </textarea>

                      <div *ngIf=" (f.SelfBenifit.touched || submitClicked) && f.SelfBenifit.invalid" class="invalid-feedback">
                        <div *ngIf="f.SelfBenifit?.errors.required">Benefit (self) is mandatory.</div>
                         
                          <div *ngIf="f.SelfBenifit.errors.hasKPISplChars"> Benefit (self) can accept only a-z, A-Z, 0-9, .,-,(,),&,#,:,/ </div>
                      </div>

                  </div>
  
                  </div>
                  <div class="col-md-3">
                    <span class="levarage_txt redStar">Benefit (team)</span>
                    <div class="input-group">
                                
                      <textarea max="1000" maxlength="1000" class="form-control" type="text"
                      
                          [ngClass]="{ 'is-invalid': (f.TeamBenifit.touched || submitClicked)  &&  f.TeamBenifit.invalid }"
                          formControlName="TeamBenifit" name="TeamBenifit" required > </textarea>

                          

                      <div *ngIf=" (f.TeamBenifit.touched || submitClicked) && f.TeamBenifit.invalid" class="invalid-feedback">
                        <div *ngIf="f.TeamBenifit?.errors.required">Benefit (team/org.) is mandatory.</div>
                         
                          <div *ngIf="f.TeamBenifit.errors.hasKPISplChars"> Benefit (team/org.) can accept only a-z, A-Z, 0-9, .,-,(,),&,#,:,/ </div>
                      </div>

                  </div>
  
                  </div>
                  <div class="col-md-3">
                    <span class="levarage_txt">Progress Comments</span>
                    <div class="input-group">
                      <textarea  max="1000" maxlength="1000" formControlName="ProgressComments"      placeholder=""                class=" form-control"> </textarea>
                      <div *ngIf=" (f.ProgressComments.touched || submitClicked) && f.ProgressComments.invalid" class="invalid-feedback">
                         
                          <div *ngIf="f.ProgressComments.errors.hasKPISplChars"> Progress Comments can accept only a-z, A-Z, 0-9, .,-,(,),&,#,:,/ </div>
                      </div>

                  </div>
  
                  </div>

                </div>


                 <!-- <div   class="invitation_model_in_table table-responsive p-15">
                  <table   class="table table-bordered table-striped" style="margin-bottom: -2px;">
                     <thead>
                      <tr>
                        <th class="redStar">How To Leverage</th>
                        <th class="redStar">Benefit (Self)</th>
                        <th class="redStar">Benefit (team)</th>
                        <th>Progress Comments</th>
                        <th *ngIf="f.ManagerComments.value" >Manager Comments</th>
                      </tr>
                    </thead> 
                    <tbody>
                      <tr>
                        <td class="invitation_model_search">
                          <div class="form-group">
                            <div class="input-group">
                                <input max="1000" maxlength="1000" class="form-control" type="text"
                                
                                    [ngClass]="{ 'is-invalid': (f.Leverage.touched || submitClicked)  &&  f.Leverage.invalid }"
                                    formControlName="Leverage" name="Leverage" required>
  
                                <div *ngIf=" (f.Leverage.touched || submitClicked) && f.Leverage.invalid" class="invalid-feedback">
                                  <div *ngIf="f.Leverage?.errors.required">How to Leverage is mandatory.</div>
                                    <div *ngIf="f.Leverage.errors.hasKPISplChars">How to Leverage can accept only a-z, A-Z, 0-9, .,-,(,),&,#,:,/</div>
                                </div>
  
                            </div>
                        </div>
                        </td>
                          <td class="invitation_model_search">
                            <div class="form-group">
                              <div class="input-group">
                                  
                                  <input max="1000" maxlength="1000" class="form-control" type="text"
                                  
                                      [ngClass]="{ 'is-invalid': (f.SelfBenifit.touched || submitClicked)  &&  f.SelfBenifit.invalid }"
                                      formControlName="SelfBenifit" name="SelfBenifit" required >
    
                                  <div *ngIf=" (f.SelfBenifit.touched || submitClicked) && f.SelfBenifit.invalid" class="invalid-feedback">
                                    <div *ngIf="f.SelfBenifit?.errors.required">Benefit (self) is mandatory.</div>
                                     
                                      <div *ngIf="f.SelfBenifit.errors.hasKPISplChars"> Benefit (self) can accept only a-z, A-Z, 0-9, .,-,(,),&,#,:,/ </div>
                                  </div>
    
                              </div>
                          </div>
                        </td>
                        <td class="invitation_model_search">
                          <div class="form-group">
                            <div class="input-group">
                                
                                <input max="1000" maxlength="1000" class="form-control" type="text"
                                
                                    [ngClass]="{ 'is-invalid': (f.TeamBenifit.touched || submitClicked)  &&  f.TeamBenifit.invalid }"
                                    formControlName="TeamBenifit" name="TeamBenifit" required >
  
                                    
  
                                <div *ngIf=" (f.TeamBenifit.touched || submitClicked) && f.TeamBenifit.invalid" class="invalid-feedback">
                                  <div *ngIf="f.TeamBenifit?.errors.required">Benefit (team/org.) is mandatory.</div>
                                   
                                    <div *ngIf="f.TeamBenifit.errors.hasKPISplChars"> Benefit (team/org.) can accept only a-z, A-Z, 0-9, .,-,(,),&,#,:,/ </div>
                                </div>
  
                            </div>
                        </div>
                          
                        </td>
                        <td class="invitation_model_search">
                          <input  max="1000" maxlength="1000" formControlName="ProgressComments"      placeholder=""                class=" form-control">
                          <div *ngIf=" (f.ProgressComments.touched || submitClicked) && f.ProgressComments.invalid" class="invalid-feedback">
                             
                              <div *ngIf="f.ProgressComments.errors.hasKPISplChars"> Progress Comments can accept only a-z, A-Z, 0-9, .,-,(,),&,#,:,/ </div>
                          </div>
                          
                        </td>
                        <td *ngIf="f.ManagerComments.value" class="invitation_model_search">
                          <input readonly  max="1000" maxlength="1000" formControlName="ManagerComments"      placeholder=""                class=" form-control ">
                          
                        </td>
                        
                      </tr>
                    </tbody>
                  </table>
                  
                </div>   -->

                <div *ngIf="currentAction != 'create'" class=" row form-group form-actions clearfix w-100 d-block all-events ">
                  <button [disabled]='selIndex==0' class="btn btn-link pull-left" (click)="priKpi()" >Previous</button>
                  <button [disabled]='selIndex+1 == empDevGoalsData.length'  class="btn btn-link pull-right" (click)="nextKpi()" >Next</button>
                  
                </div>

                <div *ngIf="currentAction != 'view' && accessingFrom!='currEvaluation' " class="form-group form-actions pull-right mt-2">
                  <button class="btn btn-sm btn-primary" (click)="navToStrengthList()" >Cancel</button>&nbsp;
                  <button  *ngIf="f?.IsDraft?.value==true || currentAction == 'create' " class="btn btn-sm btn-primary" (click)="draftStrength()" >Save</button>&nbsp;
                
                  <button  class="btn btn-sm btn-primary" (click)="submitGoal()" >{{currentAction=='edit'? 
                      f.IsDraft?.value==true ? 'Create': 'Update'
                       :'Create' }}</button>

                  <!-- <button class="btn btn-sm btn-primary"  (click)="conformSubmitKpis()" >Create Performance Goals</button> -->
                </div>
  
                <p class="pull-left  hide-print"> <strong>Note: </strong> All fields marked with * are mandatory</p>



                  </form>

                </div>
              </div>
  
          </div>
          <ng-template class="col-md-12"  #noRecordsFound>
            <h3 class="heading-with-margin">No Strengths Found</h3>
        </ng-template>
      </div>
  </div>


