<div class="animated fadeIn">


    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <!-- <div class="card-header">
             Review Action Plan  
                     </div> -->
          <div class="card-body">
             <tabset #staticTabs class="pro-tabs">
              <tab *ngIf="loginUser?.SelectedRoles?.includes('EM')">
    
                <ng-template tabHeading><i ></i>As Manager</ng-template>
                <ag-grid-angular style="width: 100%; height: 440px;" 
                class="ag-theme-alpine" [rowData]="managerReporteesKpiRelData"
                  [columnDefs]="columnDefs"
                  [pagination]="true"
                  [paginationPageSize]="10"
                  (gridReady)="onGridReady($event)"
                  (gridSizeChanged)="onGridSizeChanged($event)"
                   [getRowHeight]="getRowHeight"  [enableBrowserTooltips]="true" 
                   (rowClicked)="onEmpGridRowClick($event)" >
                </ag-grid-angular>
               
              </tab>
              <tab *ngIf="loginUser?.SelectedRoles?.includes('TS')" >
    
                <ng-template tabHeading><i class="icon-hand-rock"></i>As Third Signatory</ng-template>
               
                <ag-grid-angular style="width: 100;; height: 440px;" 
                class="ag-theme-alpine" [rowData]="tSReporteesData"
                  [columnDefs]="tsColumnDefs"
                  [pagination]="true"
                  [paginationPageSize]="10"
                  (gridReady)="onGridReady($event)"
                   [getRowHeight]="getRowHeight"  [enableBrowserTooltips]="true" 
                  (gridSizeChanged)="onGridSizeChanged($event)"
                   (rowClicked)="onAsTSGridRowClick($event)" >
                </ag-grid-angular>

              </tab>
            
              
            </tabset>
            
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>