<div class="wrapper"> 
  
       
  <!--Section1 Start Here-->
    <div class="container clearfix">
        <div class="box_main clearfix">
          <div class="widget-parent">
                      <div  *ngIf="isCSA">
               
      <div class="row">
              <h2 class="widget-heading">CSA Dashboard</h2>
              <div style="display: block">
coming soon
  </div>
            </div>
            
            
            </div>
            <div class="row">
              <h2 class="widget-heading">Dashboard</h2>
            </div>

         
          <div class="row">
            
            <!-- Box1 -->
            <div class="box col-lg-6">
              <div class="box_in">
                <h2 class="bg-blue">Current Evaluation Progress</h2>
                <div class="box_progressbar">
                  <progress-bar  title="{{currentEvaluationProgressTitle}}" [progress]="currentEvaluationProgress" 
        [color-degraded]="{'0': 'red',  '15': '#f9c3d3', '25': '#92d892'}">
        </progress-bar>
                </div>
                <div class="box_goalsetting clearfix">
                  <!--<h2 class="col-xs-6">Goal Setting<span>Completed</span></h2>-->
                  <h2 class="col-xs-6">Performance Goals<span>{{currentEvaluation.KPI_Status?currentEvaluation.KPI_Status:'N/A'}}</span></h2>
                  <h2 class="col-xs-6">Evaluation<span>{{currentEvaluationProgressTitle}}</span></h2>
                  <h2 class="col-xs-6">Action Plan<span>N/A</span></h2>
                </div> 
                <div *ngIf="(currentEvaluationProgress!=0)" class="box_in_btns">
                  <a  href="#/employee/current-evaluation" class="box_in_btns_view">View Evaluation &#8594;</a>
                  <div class="clear"></div>
                </div>
                <div *ngIf="(currentEvaluationProgress==0)" class="box_in_btns">
                  <span class="box_in_btns_view" style="color: #717171;">View Evaluation &#8594;</span>
                  <div class="clear"></div>
                </div> 
                
              </div>
            </div>
            <!-- Box 2 -->
            <div class="box col-lg-6">
              <div class="box_in">
                <h2 class="bg-blue">Previous Rating</h2>
                
                <div class="box_goalsetting box_rating clearfix">
                  <h3 class="col-xs-12">Evaluation Period: {{previousEvaluation?.period}}</h3>
                  <h3 class="col-xs-12">Rating: {{previousEvaluation?.rating}}</h3>
                  <h3 class="col-xs-12">Peer Review: {{previousEvaluation?.peer_review}}</h3>
                </div> 
                <div class="clear"></div>
              </div>
            </div>
            
          </div>
          <div class="row">
            <!-- Box 3 -->
            <div class="box col-lg-12">
              <div class="box_in">
                <h2 class="bg-blue">Peer Review</h2>
                <div class="box_goalsetting box_rating clearfix">
                  <ag-grid-angular
                    style="width: 980px; height: 180px;"
                    class="ag-theme-alpine"
                    [rowData]="peerReviewRowData"
                    [columnDefs]="peerreviewColumnDefs"
                    (rowClicked)="onGridRowClick($event)"
                    >
                  </ag-grid-angular>
                </div> 
                <div class="clear"></div>
              </div>
            </div>
          </div>
          </div>
          
        </div>
     </div>
  <!--Section1 End Here-->
   
</div>
