<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12" *ngIf="showDevGoalsForm;else noRecordsFound" >
            <div class="card">
                <div  *ngIf="accessingFrom!='reviewEvaluation' "   class="card-header">
                    Strength
  
                    <div class="form-group form-actions pull-right m-0">
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                        (click)="navToStrengthList()" ><i class="fa fa-arrow-left" style="padding-right: 8px;"></i>Back to list </button>  
  
                    </div>
                    
                </div>
                <div class="card-body">
  
  
                    <form [formGroup]="strengthBuildForm" novalidate="" 
                     class="ng-untouched ng-pristine ng-valid view-only">
  
  
                     <div class="form-group row">
  
                      <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text ">Strength</span>
                                </div>
                                <input max="500" maxlength="500" class="form-control" type="text"
                                    [ngClass]="{ 'is-invalid': (f.Strength.touched || submitClicked)  &&  f.Strength.invalid }"
                                    formControlName="Strength" name="Strength" required
                                    [matAutocomplete]="devGoalsAuto">
  
                                    <mat-autocomplete #devGoalsAuto="matAutocomplete" (optionSelected)="onStrengthAutoSelected($event)"  >
                                        <mat-option *ngFor="let option of filteredOptionsDevGoals | async" [value]="option">
                                          {{option.Strength}}
                                        </mat-option>
                                       </mat-autocomplete>
  
                                <div *ngIf=" (f.Strength.touched || submitClicked) && f.Strength.invalid" class="invalid-feedback">
                                  <div *ngIf="f.Strength?.errors.required">Please provide Strength.</div>
                                   
                                    <div *ngIf="f.Strength.errors.hasKPISplChars">Allowed special characters are
                                        (.,-,(,),&,#,:,/,?) </div>
                                </div>
  
                            </div>
                        </div>
                    </div>
                    
  
                  </div>
  
                  <div   class="invitation_model_in_table table-responsive p-15">
                    <table *ngIf="currentAction != 'view'"  class="table table-bordered table-striped" style="margin-bottom: -2px;">
                       <thead>
                        <tr>
                          <th class="">How To Leverage</th>
                          <th class="">Benefit (Self)</th>
                          <th class="">Benefit (team)</th>
                          <th>Progress Comments</th>
                          <th>Manager Comments</th>
                        </tr>
                      </thead> 
                      <tbody>
                        <tr>
                          <td class="invitation_model_search">
                            <div class="form-group">
                              <div class="input-group">
                                  <input max="500" maxlength="500" class="form-control" type="text"
                                  
                                      [ngClass]="{ 'is-invalid': (f.Leverage.touched || submitClicked)  &&  f.Leverage.invalid }"
                                      formControlName="Leverage" name="Leverage" required>
    
                                  <div *ngIf=" (f.Leverage.touched || submitClicked) && f.Leverage.invalid" class="invalid-feedback">
                                    <div *ngIf="f.Leverage?.errors.required">Please provide Leverage.</div>
                                      <div *ngIf="f.Leverage.errors.hasKPISplChars">Allowed special characters are
                                          (.,-,(,),&,#,:,/,?) </div>
                                  </div>
    
                              </div>
                          </div>
                          </td>
                            <td class="invitation_model_search">
                              <div class="form-group">
                                <div class="input-group">
                                    
                                    <input max="500" maxlength="500" class="form-control" type="text"
                                    
                                        [ngClass]="{ 'is-invalid': (f.SelfBenifit.touched || submitClicked)  &&  f.SelfBenifit.invalid }"
                                        formControlName="SelfBenifit" name="SelfBenifit" required >
      
                                    <div *ngIf=" (f.SelfBenifit.touched || submitClicked) && f.SelfBenifit.invalid" class="invalid-feedback">
                                      <div *ngIf="f.SelfBenifit?.errors.required">Please provide SelfBenifit.</div>
                                       
                                        <div *ngIf="f.SelfBenifit.errors.hasKPISplChars">Allowed special characters are
                                            (.,-,(,),&,#,:,/,?) </div>
                                    </div>
      
                                </div>
                            </div>
                          </td>
                          <td class="invitation_model_search">
                            <div class="form-group">
                              <div class="input-group">
                                  
                                  <input max="500" maxlength="500" class="form-control" type="text"
                                  
                                      [ngClass]="{ 'is-invalid': (f.TeamBenifit.touched || submitClicked)  &&  f.TeamBenifit.invalid }"
                                      formControlName="TeamBenifit" name="TeamBenifit" required >
    
                                      
    
                                  <div *ngIf=" (f.TeamBenifit.touched || submitClicked) && f.TeamBenifit.invalid" class="invalid-feedback">
                                    <div *ngIf="f.TeamBenifit?.errors.required">Please provide TeamBenifit.</div>
                                     
                                      <div *ngIf="f.TeamBenifit.errors.hasKPISplChars">Allowed special characters are
                                          (.,-,(,),&,#,:,/,?) </div>
                                  </div>
    
                              </div>
                          </div>
                            
                          </td>
                          <td class="invitation_model_search">
                            <input  max="1000" maxlength="1000" formControlName="ProgressComments"      placeholder=""                class=" form-control">
                            
                          </td>
                          <td class="invitation_model_search " [ngClass]="{'all-events': actor!='TS'} " >
                            <input  max="1000" maxlength="1000" formControlName="ManagerComments"      placeholder=""                class=" form-control">
                            
                          </td>
                          
                        </tr>
                      </tbody>
                    </table>
                    
                  </div> 
  
                  <div *ngIf="currentAction != 'create'" class=" row form-group form-actions clearfix w-100 d-block all-events ">
                    <button [disabled]='selIndex==0' class="btn btn-link pull-left" (click)="priKpi()" >Pre Kpi</button>
                    <button [disabled]='selIndex+1 == empDevGoalsData.length'  class="btn btn-link pull-right" (click)="nextKpi()" >Next Kpi</button>
                    
                  </div>
  
                  <div   *ngIf="actor!='TS' && accessingFrom!='reviewEvaluation' " class="form-group form-actions pull-right mt-2 all-events">
                    <button class="btn btn-sm btn-primary" (click)="navToStrengthList()" >Cancel</button>
  
                    <button *ngIf="!f.ManagerFTSubmitedOn"   class="btn btn-sm btn-primary" (click)="draftStrength()" >Save</button>
                  
                    <button  class="btn btn-sm btn-primary" (click)="submitGoal()" >{{currentAction=='edit'? 
                        f.IsDraft?.value=='true' ? 'Submit': 'Update'
                         :'Submit' }}</button>
  
                    <!-- <button class="btn btn-sm btn-primary"  (click)="conformSubmitKpis()" >Submit Performance Goals</button> -->
                  </div>
    
                  <!-- <p class="pull-left "> <strong>Note: </strong> All fields marked with * are mandatory</p> -->
  
  
  
                    </form>
  
                  </div>
                </div>
    
            </div>
            <ng-template class="col-md-12"  #noRecordsFound>
              <h3 class="heading-with-margin">No Strengths Found</h3>
          </ng-template>
        </div>
    </div>
  
  
  
