<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12" *ngIf="showDevGoalsForm;else noRecordsFound" >
            <div class="card">
                <div  *ngIf="accessingFrom!='reviewEvaluation' "   class="card-header">
                  <span style="color: #717171;">{{currentEmpName}} -</span>
                    Strength
  
                    <div class="form-group form-actions pull-right m-0">
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                        (click)="navToStrengthList()" ><i class="fa fa-arrow-left" style="padding-right: 8px;"></i>Back to list </button>  
                        &nbsp;<i (click)="printPage()" title="Print" class="fa fa-file-pdf-o hide-print" style="font-size:21px;color:red"></i>
  
                    </div>
                    
                </div>
                <div class="card-body">
  
  
                    <form  autocomplete="off"  [formGroup]="strengthBuildForm" novalidate="" 
                     class="ng-untouched ng-pristine ng-valid view-only">
  
                  <div *ngIf="currentAction != 'view'">
                     <div class="form-group row">
  
                      <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text ">Strength</span>
                                </div>
                                <input max="500" maxlength="500" class="form-control" type="text"
                                    [ngClass]="{ 'is-invalid': (f.Strength.touched || submitClicked)  &&  f.Strength.invalid }"
                                    formControlName="Strength" name="Strength" required
                                    [matAutocomplete]="devGoalsAuto">
  
                                    <mat-autocomplete #devGoalsAuto="matAutocomplete" (optionSelected)="onStrengthAutoSelected($event)"  >
                                        <mat-option *ngFor="let option of filteredOptionsDevGoals | async" [value]="option">
                                          {{option.Strength}}
                                        </mat-option>
                                       </mat-autocomplete>
  
                                <div *ngIf=" (f.Strength.touched || submitClicked) && f.Strength.invalid" class="invalid-feedback">
                                  <div *ngIf="f.Strength?.errors.required">Please provide Strength.</div>
                                   
                                    <div *ngIf="f.Strength.errors.hasKPISplChars">Allowed special characters are
                                        (.,-,(,),&,#,:,/,?) </div>
                                </div>
  
                            </div>
                        </div>
                    </div>
                    
  
                  </div>
                  
                  <div class="form-group row">
  
                    <div class="col-md-4">
                      <div class="form-group">
                          <div class="input-group">
                              <div class="input-group-prepend">
                                  <span class="input-group-text ">How To Leverage</span>
                              </div>
                              <textarea max="500" maxlength="500" class="form-control" type="text"
                                  
                              [ngClass]="{ 'is-invalid': (f.Leverage.touched || submitClicked)  &&  f.Leverage.invalid }"
                              formControlName="Leverage" name="Leverage" required> </textarea>

                          <div *ngIf=" (f.Leverage.touched || submitClicked) && f.Leverage.invalid" class="invalid-feedback">
                            <div *ngIf="f.Leverage?.errors.required">Please provide Leverage.</div>
                              <div *ngIf="f.Leverage.errors.hasKPISplChars">Allowed special characters are
                                  (.,-,(,),&,#,:,/,?) </div>
                          </div>

                          </div>
                      </div>
                  </div>


                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text ">Benefit (Self)</span>
                                </div>
                                <textarea max="500" maxlength="500" class="form-control" type="text"
                                    
                                        [ngClass]="{ 'is-invalid': (f.SelfBenifit.touched || submitClicked)  &&  f.SelfBenifit.invalid }"
                                        formControlName="SelfBenifit" name="SelfBenifit" required > </textarea>
      
                                    <div *ngIf=" (f.SelfBenifit.touched || submitClicked) && f.SelfBenifit.invalid" class="invalid-feedback">
                                      <div *ngIf="f.SelfBenifit?.errors.required">Please provide SelfBenifit.</div>
                                       
                                        <div *ngIf="f.SelfBenifit.errors.hasKPISplChars">Allowed special characters are
                                            (.,-,(,),&,#,:,/,?) </div>
                                    </div>

                                

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                          <div class="input-group">
                              <div class="input-group-prepend">
                                  <span class="input-group-text ">Benefit (team)</span>
                              </div>
                              
                              <textarea max="500" maxlength="500" class="form-control" type="text"
                                  
                                      [ngClass]="{ 'is-invalid': (f.TeamBenifit.touched || submitClicked)  &&  f.TeamBenifit.invalid }"
                                      formControlName="TeamBenifit" name="TeamBenifit" required > </textarea>
    
                                      
    
                                  <div *ngIf=" (f.TeamBenifit.touched || submitClicked) && f.TeamBenifit.invalid" class="invalid-feedback">
                                    <div *ngIf="f.TeamBenifit?.errors.required">Please provide TeamBenifit.</div>
                                     
                                      <div *ngIf="f.TeamBenifit.errors.hasKPISplChars">Allowed special characters are
                                          (.,-,(,),&,#,:,/,?) </div>
                                  </div>
                              

                          </div>
                      </div>
                  </div>
                  


                </div>
                <div class="form-group row">
                  <div class="col-md-4">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text ">Progress Comments</span>
                            </div>
                            
                            <textarea  max="1000" maxlength="1000" formControlName="ProgressComments"      placeholder=""                class=" form-control"> </textarea>
                            

                        </div>
                    </div>
                </div>

                  <div class="col-md-4">
                    <div class="form-group all-events">
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <span class="input-group-text ">Manager Comments</span>
                            </div>
                            
                            <textarea  max="1000" maxlength="1000" formControlName="ManagerComments"      placeholder=""                class=" form-control"></textarea>

                        </div>
                    </div>
                </div>
                </div>
                </div>
                  
  
                  <div *ngIf="currentAction != 'create'" class=" row form-group form-actions clearfix w-100 d-block all-events ">
                    <button [disabled]='selIndex==0' class="btn btn-link pull-left" (click)="priKpi()" >Previous</button>
                    <button [disabled]='selIndex+1 == empDevGoalsData.length'  class="btn btn-link pull-right" (click)="nextKpi()" >Next</button>
                    
                  </div>
  
                  <div   *ngIf="actor!='TS' && accessingFrom!='reviewEvaluation' " class="form-group form-actions pull-right mt-2 all-events">
                    <button class="btn btn-sm btn-primary" (click)="navToStrengthList()" >Cancel</button>&nbsp;
  
                    <button *ngIf="!f.ManagerFTSubmitedOn"   class="btn btn-sm btn-primary" (click)="draftStrength()" >Save</button>&nbsp;
                  
                    <button  class="btn btn-sm btn-primary" (click)="submitGoal()" >{{currentAction=='edit'? 
                        f.IsDraft?.value=='true' ? 'Submit': 'Update'
                         :'Submit' }}</button>
  
                    <!-- <button class="btn btn-sm btn-primary"  (click)="conformSubmitKpis()" >Submit Performance Goals</button> -->
                  </div>
    
                  <!-- <p class="pull-left  hide-print"> <strong>Note: </strong> All fields marked with * are mandatory</p> -->
  
  
  
                    </form>
  
                  </div>
                </div>
    
            </div>
            <ng-template class="col-md-12"  #noRecordsFound>
              <h3 class="heading-with-margin">No Strengths Found</h3>
          </ng-template>
        </div>
    </div>
  
  
  
