<div [formGroup]="competencyForm">
    <accordion [closeOthers]="oneAtATime">
        <accordion-group #groupval [isOpen]="groupval.isContentOpen" *ngFor="let c of competencyQuestionsList"></accordion-group>
            <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                <div class="pull-left">
                    <i [ngClass]="{'icon-minus': groupval?.isOpen, 'icon-plus': !groupval?.isOpen}"> </i>
                    {{c.CompetenyName}}
                </div>

            </button>
            <app-competency-wrapper [questions]="c.Questions" [form]="c.form" [comments]="c.comments">
            </app-competency-wrapper>
        </accordion-group>

    </accordion>
    <div class="form-group row">
        <div class="col-md-4 ">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text redStar">Rating</span>
                    </div>
                    <select formControlName="OverallRating" class="form-control" name="Score">
                        <option value="" disabled>Please select</option>
                        <!-- <option *ngFor="let e of appScores" [value]="e">{{e}}</option> -->
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>

                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-8 ">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Comments</span>
                    </div>
                    <textarea maxlength="500" formControlName="OverallComments" class="form-control"></textarea>

                </div>
            </div>

        </div>
        <div class="pull-right col-md-12">
            <div class="form-group">
                <div class="pull-right" *ngIf="!isSubmitted">
                    <button (click)="cancelCompetencyRating()" class="btn btn-secondary">Cancel</button>
                    <button (click)="savePeerCompetencyFormAsDraft()" class="btn btn-primary">Save</button>
                    <button (click)="submitPeerCompetencyForm()" class="btn btn-primary">Submit</button>
                </div>
                <div class="pull-right" *ngIf="isSubmitted">
                    <button (click)="cancelCompetencyRating()" class="btn btn-secondary">Cancel</button>

                </div>
            </div>

        </div>
    </div>
</div>