<div class="wrapper"> 
  
       
    <!--Section1 Start Here-->
      <div class="container clearfix">
        <flash-messages></flash-messages>
          <div class="box_main clearfix">
            <div class="row">
              <!-- Box1 -->
              <div class="box col-lg-6">
                <div class="box_in">
                  <app-client-summary [chartTypeInput]="'EVALUATION_SUMMARY'" [userType]="'Client'"></app-client-summary>
                  <div class="clear"></div>
                </div>
                
              </div>
              <div class="box col-lg-6">
                <div class="box_in">
                  <h2 class="bg-blue">Current Status</h2>
                  <div class="box_goalsetting box_rating clearfix">
                    <h3 class="col-xs-12">Renewal Date: N/A</h3>
                    <h3 class="col-xs-12">Evaluations Completed: {{this.currentStatus.completed}}</h3>
                    <h3 class="col-xs-12">Evaluations Left: {{this.currentStatus.inprogress}}</h3>
                  </div> 
                  <a (click)="showAlert('Comming Soon')" href="#/csa/dashboard" class="box_in_btns_view">Purchase Next License &#8594;</a>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
              <div class="row">
                
              <!-- Box 3 -->
              <div class="box col-lg-6">
                <div class="box_in">
                  <h2 class="bg-blue">Payment Summary</h2>
                  <div class="box_goalsetting box_rating clearfix">
                    <div style="display: block;">
                        <div class="middle">
                          <h1>COMING SOON</h1>
                          <hr>
                        </div>
                        </div>
                  </div> 
                  <div class="clear"></div>
                </div>
              </div>
            </div>
  
            
          </div>
       </div>
    <!--Section1 End Here-->
     
  </div>
  
  
    