<div class="wrapper"> 
  
       
    <!--Section1 Start Here-->
      <div class="container clearfix">
        <flash-messages></flash-messages>
          <div class="box_main clearfix">
            <!--<div class="row">
              <h2 class="widget-heading"> CSA Dashboard</h2>
            </div>-->
            <div class="row">
              <!-- Box1 -->
              <div class="box col-lg-6">
                <div class="box_in">
                  <div style="height: 250px; width: 100%;">
                    <div class="bg-blue clearfix">
                      <div class="col-lg-8 pull-left">
                        <h2 class="no_bg">Evaluation Summary</h2>
                      </div>
                      <div class="col-lg-4 pull-left" style="margin-top: 8px;">
                        <mat-form-field class="mat-select">
                          <mat-label>Select</mat-label>
                        <mat-select (selectionChange)="clientSummaryByUsageChanged('EVALUATION_SUMMARY','Client')" [formControl]="evaluationSummaryForm"
                            
                            multiple >
                          <mat-option *ngFor="let year of yearsList" [value]="year.value">{{year.label}}</mat-option>
                        </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <app-client-summary [chartTypeInput]="'EVALUATION_SUMMARY'" [userType]="'Client'" [onselectChartType]="chartTypeInput" [onSelectYears]="evaluationSummary"></app-client-summary>
                  </div>
                  <a  href="#/csa/reports/evaluationsSummary" class="box_in_btns_view">Evaluation Summary &#8594;</a>
                  <div class="clear"></div>
                </div>
                
              </div>
              <div class="box col-lg-6">
                <div class="box_in">
                  <h2 class="bg-blue">Current Status</h2>
                  <div class="box_goalsetting box_rating clearfix">
                    
                    <h3 class="col-xs-12">Renewal Date: {{this.currentStatus.renewalDate}}</h3>
                    <h3 class="col-xs-12">Evaluations In Progress: {{this.currentStatus.inprogress}}</h3>
                    <h3 class="col-xs-12">Evaluations Not Initiated: {{this.currentStatus.evaluations_left}}</h3>

                  </div> 
                  <a href="#/csa/payments" class="box_in_btns_view">Purchase Next License &#8594;</a>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
              <div class="row">
                
              <!-- Box 3 -->
              <!--<div class="box col-lg-6">
                <div class="box_in">
                  <h2 class="bg-blue">Payment Summary</h2>
                  <div class="box_goalsetting box_rating clearfix">
                    <div style="display: block;">
                        <div class="middle">
                          <h1>COMING SOON</h1>
                          <hr>
                        </div>
                        </div>
                  </div> 
                  <div class="clear"></div>
                </div>
              </div> -->
            </div>
  
            
          </div>
       </div>
    <!--Section1 End Here-->
     
  </div>
  
  
