
<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
                Set up Employees
            </div>
            <div class="card-body">
              <!-- <div class="row"> -->
              <app-create-employee> </app-create-employee>
    
    
                  
              <!-- </div> -->
              <br>
             
            </div>
          </div>
        </div><!--/.col-->
      </div><!--/.row-->
    </div>
    