<div class="wrapper"> 
  <!--Section1 Start Here-->
    <div class="container clearfix">
        <div class="box_main clearfix">
          <div class="row">
            <!-- Box1 -->
            <div class="box col-lg-6">
              <div class="box_in">
                <div class="bg-blue clearfix">
                  <div class="col-lg-8 pull-left">
                    <h2 class="no_bg">Client Summary - By usages</h2>
                  </div>
                  <div class="col-lg-4 pull-left" style="margin-top: 8px;">
                    <mat-select (selectionChange)="clientSummaryByUsageChanged('CLIENT_SUMMARY','Client')" [formControl]="clientSummaryUsageForm"
                    class="form-control"
                    multiple >
                    <mat-option *ngFor="let year of yearsList" [value]="year">{{year}}</mat-option>
                  </mat-select>
                  </div>
                </div>
                <app-client-summary [chartTypeInput]="'CLIENT_SUMMARY'" [userType]="'Client'" [onselectChartType]="chartTypeInput" [onSelectYears]="clientSummaryByUsage"></app-client-summary>
            </div>
            </div>
            <div class="box col-lg-6">
              <div class="box_in">
                <div class="bg-blue clearfix">
                  <div class="col-lg-8 pull-left">
                    <h2 class="no_bg">Client Summary - Status</h2>
                  </div>
                  <div class="col-lg-4 pull-left" style="margin-top: 8px;">
                    <mat-select (selectionChange)="clientSummaryByUsageChanged('STATUS','Client')" [formControl]="clientSummaryStatusForm"
                        class="form-control"
                        multiple >
                      <mat-option *ngFor="let year of yearsList" [value]="year">{{year}}</mat-option>
                    </mat-select>
                  </div>
                </div>
                <app-client-summary [chartTypeInput]="'STATUS'" [userType]="'Client'" [onselectChartType]="chartTypeInput" [onSelectYears]="clientSummaryByStatus"></app-client-summary>
            </div>
            </div>
          </div>
          
        </div>
     </div>
  <!--Section1 End Here-->
   
</div>
