


<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
               Create Employee
            
            <div class="form-group form-actions pull-right m-0">
            </div>
            </div>
            <div class="card-body">
             
   
              <form [formGroup]="empForm"  novalidate="" class="ng-untouched ng-pristine ng-valid">
                
                <div class="form-group row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text redStar">First Name</span>
                              </div>
                              <input max="200" maxlength="200"  class="form-control"  type="text"
                              [ngClass]="{ 'is-invalid': f.FirstName.touched  &&  f.FirstName.invalid }"
                              formControlName="FirstName"  name="FirstName" required  >
                           
                              <div *ngIf="f.FirstName.touched && f.FirstName.invalid" class="invalid-feedback">
                                <div *ngIf="f.FirstName.errors.required">First Name is required</div>
                                <div *ngIf="f.FirstName.errors.minlength">First Name must be at least 2 characters  </div>
                                <div *ngIf="f.FirstName.errors.hasFirstCharNum">First character should be character  </div>
                                <div *ngIf="f.FirstName.errors.hasNameSplChars">Allowed special characters are (.,-,(,),:)   </div>
                            </div>
                           
                            </div>
                          </div>
                    </div>
      
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Middle Name</span>
                              </div>
                              <input max="200" maxlength="200" class="form-control"  type="text"
                              [ngClass]="{ 'is-invalid': f.MiddleName.touched  &&  f.MiddleName.invalid }"
                              formControlName="MiddleName"  name="MiddleName"  >
      
                              <div *ngIf="f.MiddleName.touched && f.MiddleName.invalid" class="invalid-feedback">
                                <div *ngIf="f.MiddleName.errors.hasFirstCharNum">First character should be character  </div>
                                <div *ngIf="f.MiddleName.errors.hasNameSplChars">Allowed special characters are (.,-,(,),:)   </div>
                            </div>
      
                            </div>
                          </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text redStar">Last Name </span>
                              </div>
                              <input max="200" maxlength="200" class="form-control"  type="text"
                              [ngClass]="{ 'is-invalid': f.LastName.touched  &&  f.LastName.invalid }"
                              formControlName="LastName"  name="LastName" required >
      
                              <div *ngIf="f.LastName.touched && f.LastName.invalid" class="invalid-feedback">
                                <div *ngIf="f.LastName.errors.required">Last Name is required</div>
                                <div *ngIf="f.LastName.errors.minlength">Last Name must be at least 1 characters  </div>
                                <div *ngIf="f.LastName.errors.hasFirstCharNum">First character should be character  </div>
                                <div *ngIf="f.LastName.errors.hasNameSplChars">Allowed special characters are (.,-,(,),:)   </div>
                            </div>
                            </div>
                          </div>
                    </div>
                    
                </div>
              
                <app-csc [reset]="countyFormReset" [CSCData]='cscData' (onSelect)="onCSCSelect($event)" >
                  
                </app-csc>
      
                <div class="form-group row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text redStar">Address</span>
                              </div>
                              <textarea maxlength="500" class="form-control"  cols="" rows="4"
                              [ngClass]="{ 'is-invalid': f.Address.touched  &&  f.Address.invalid }"
                              formControlName="Address"  name="Address" required >  </textarea>
      
                              <div *ngIf="f.Address.touched && f.Address.invalid" class="invalid-feedback">
                                <div *ngIf="f.Address.errors.required">Address is required</div>
                                <div *ngIf="f.Address.errors.minlength">First Name must be at least 4 characters  </div>
                                <div *ngIf="f.Address.errors.hasAddressSplChars">Allowed special characters are (.,-,(,),&,#,:,/)  </div>
                            </div>
      
                            </div>
                          </div>
                    </div>
      
                    <div class="col-md-4 ">
                        <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text redStar">Phone</span>
                              </div>
                              <input maxlength="12"  type="text" class="form-control"  
                              [ngClass]="{ 'is-invalid': f.PhoneNumber.touched  &&  f.PhoneNumber.invalid }"
                              formControlName="PhoneNumber"  name="PhoneNumber"  
                              >
      
                              <div *ngIf="f.PhoneNumber.touched && f.PhoneNumber.invalid" class="invalid-feedback">
                                <!-- <div *ngIf="f.PhoneNumber.errors.required">Phone Number is required</div> -->
                                <div *ngIf="f.PhoneNumber.errors.minlength">Phone Number must be at least 6 characters  </div>
                                <div *ngIf="f.PhoneNumber.errors.hasPhoneSplChars">Invalid phone number Allowed Numeric and ( - )</div>
      
                            </div>
                            </div>
                          </div>
      
                          <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Alt. Phone</span>
                              </div>
                              <input maxlength="12"  class="form-control"  type="text"
                              [ngClass]="{ 'is-invalid': f.AltPhoneNumber.touched  &&  f.AltPhoneNumber.invalid }"
                              formControlName="AltPhoneNumber"  name="AltPhoneNumber"  >
                              <div *ngIf="f.AltPhoneNumber.touched && f.AltPhoneNumber.invalid" class="invalid-feedback">
                                <div *ngIf="f.AltPhoneNumber.errors.minlength">Alt. Phone must be at least 6 characters  </div>
                                <div *ngIf="f.AltPhoneNumber.errors.hasPhoneSplChars">Invalid phone number Allowed Numeric and ( - )</div>
                            </div>
                            
                            </div>
                            
                          </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Ext.</span>
                              </div>
                              <input max="5" maxlength="5" class="form-control"  type="text"
                              [ngClass]="{ 'is-invalid': f.ExtNumber.touched  &&  f.ExtNumber.invalid }"
                              formControlName="ExtNumber"  name="ExtNumber"  >
      
                              <div *ngIf="f.ExtNumber.touched && f.ExtNumber.invalid" class="invalid-feedback">
                                <div *ngIf="f.ExtNumber.errors.minlength">Extension Phone must be at least 2 characters  </div>
                                <div *ngIf="f.ExtNumber.errors.hasPhoneSplChars">Invalid phone number Allowed Numeric and ( - )</div>
                            </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Mobile</span>
                              </div>
                              <input maxlength="12"  class="form-control"  type="text"
                              [ngClass]="{ 'is-invalid': f.MobileNumber.touched  &&  f.MobileNumber.invalid }"
                              formControlName="MobileNumber"  name="MobileNumber"           >
                            
                            
                              <div *ngIf="f.MobileNumber.touched && f.MobileNumber.invalid" class="invalid-feedback">
                                <div *ngIf="f.MobileNumber.errors.minlength">Mobile Number must be at least 10 characters  </div>
                                <div *ngIf="f.MobileNumber.errors.hasPhoneSplChars">Invalid phone number Allowed Numeric and ( - )</div>
                            </div>
                           
                            </div>
                          </div>
                    </div>
                    
                    
                </div>
      
                <div class="form-group row">
                 
                  <div class="col-md-4">
                    <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text redStar">Pin/Zip Code</span>
                          </div>
                          <input max="8" maxlength="8" class="form-control"  type="text"
                          [ngClass]="{ 'is-invalid': f.ZipCode.touched  &&  f.ZipCode.invalid }"
                          formControlName="ZipCode"  name="ZipCode" required  >
                          <div *ngIf="f.ZipCode.touched && f.ZipCode.invalid" class="invalid-feedback">
                            <div *ngIf="f.ZipCode.errors.required">Zip Code is required</div>
                           <div *ngIf="f.ZipCode.errors.minlength">Zip Code must be at least 5 characters  </div>
                            <div *ngIf="f.ZipCode.errors.isInValidZip">Allowed alphanumeric, space</div> 
                        </div>
                       
                        </div>
                      </div>
                </div>
      
                    <div class="col-md-4">
      
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text redStar">Email</span>
                          </div>
                          <input class="form-control"  [readonly]="currentAction == 'edit'" type="text"
                          [ngClass]="{ 'is-invalid': f.Email.touched  &&  f.Email.invalid }"
                          formControlName="Email"  name="Email" required >
                        
                          <div *ngIf="f.Email.touched && f.Email.invalid" class="invalid-feedback">
                            <div *ngIf="f.Email.errors.required">Email is required</div>
                            <div *ngIf="f.Email.errors.email">Email Must be a valid email address </div>
                        </div>
                        </div>
                      </div>
                      </div>
      
                      <div class="col-md-4">
      
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text redStar">Title</span>
                            </div>
                            <input max="200" maxlength="200" class="form-control"  type="text"
                              [ngClass]="{ 'is-invalid': f.Title.touched  &&  f.Title.invalid }"
                              formControlName="Title"  name="Title" required  >
                           
                              <div *ngIf="f.Title.touched && f.Title.invalid" class="invalid-feedback">
                                <div *ngIf="f.Title.errors.required">Title is required</div>
                                <div *ngIf="f.Title.errors.minlength">Title must be at least 2 characters  </div>
                               
                            </div>
                          </div>
                        </div>
                        </div>
      
                       
      
                </div>
      
      
                      
                <div class="form-group row">
                   
  
                  <div class="col-md-4">
                    <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text  redStar">Department</span>
                          </div>
                          <select   class="form-control"  (change)="onDepartmentChange($event)"
                          [ngClass]="{ 'is-invalid': f.Department.touched  &&  f.Department.invalid }"
                      formControlName="Department"  name="Department" required >
                            <option value=""  disabled>Please select</option>
                            <option *ngFor="let e of departments" [value]="e.DeptName" >{{e.DeptName}}</option>
                            
                          </select>
                          <div *ngIf="f.Department.touched && f.Department.invalid" class="invalid-feedback">
                            <div *ngIf="f.Department.errors.required">Department is required</div>
                        </div>
                        </div>
                      </div>
                </div>
      
                  <div class="col-md-4">
                    <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text redStar">Job Role</span>
                          </div>
                        
                          <select  *ngIf="f.Department.invalid" class="form-control"   [attr.disabled]="true"
                          [ngClass]="{ 'is-invalid': f.JobRole.touched  &&  f.JobRole.invalid }"
                          formControlName="JobRole"  name="JobRole" required >
                            <option value="" disabled >Please select department first</option>
                            <option *ngFor="let e of jobRoles" [value]="e" >{{e}}</option>
                            
                          </select>
  
                          <select  *ngIf="f.Department.valid" class="form-control"  
                          [ngClass]="{ 'is-invalid': f.JobRole.touched  &&  f.JobRole.invalid }"
                          formControlName="JobRole"  name="JobRole" required >
                            <option value="" disabled >Please select</option>
                            <option *ngFor="let e of jobRoles" [value]="e" >{{e}}</option>
                            
                          </select>
  
                          <div *ngIf="f.JobRole.touched && f.JobRole.invalid" class="invalid-feedback">
                            <div *ngIf="f.JobRole.errors.required">Job Role is required</div>
                        </div>
                        </div>
                      </div>
                </div>
      
                    <div class="col-md-4">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text redStar">Job Level</span>
                          </div>
                          <select  class="form-control"  
                          [ngClass]="{ 'is-invalid': f.JobLevel.touched  &&  f.JobLevel.invalid }"
                          formControlName="JobLevel"  name="JobLevel" required>
                            <option value="" disabled >Please select</option>
                            <option *ngFor="let e of jobLevels" [value]="e._id" >{{e.JobLevelName}}</option>
                            
                          </select>
                          <div *ngIf="f.JobLevel.touched && f.JobLevel.invalid" class="invalid-feedback">
                            <div *ngIf="f.JobLevel.errors.required">Job Level is required</div>
                        </div>
                        </div>
                      </div>
                       
                    </div>
                  
      
                  
                    
                </div>
      
                <div class="form-group row">
      
                  <div class="col-md-4">
      
      
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text ">Manager</span>
                        </div>
                        <input type="text" class="autoc-border form-control"
                        placeholder="Search for a Direct Report(s)"
                       
                        [matAutocomplete]="auto3"
                           formControlName="Manager" name="Manager"
                            [formControl]="f.Manager" 
                            >
                 <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayFn" >
                  <mat-option *ngFor="let option of filteredOptionsDR | async" [value]="option">
                    {{option.FirstName}}
                  </mat-option>
                 </mat-autocomplete>
      
                
                      </div>
                    </div>
                  </div>
      
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Copies to</span>
                              </div>
                              <input type="text" class="autoc-border form-control"
                              placeholder="Search for a Copies to"
                              formControlName="CopiesTo" name="CopiesTo"
                              [formControl]="f.CopiesTo"
                              
                              [matAutocomplete]="auto1"
                              
                              >
                       <mat-autocomplete  
                        #auto1="matAutocomplete" 
                        [displayWith]="displayFn">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                          {{option.FirstName}}
                        </mat-option>
                       </mat-autocomplete>
                       <!-- <div *ngIf="f.CopiesTo.touched && f.CopiesTo.invalid" class="invalid-feedback">
                        <div *ngIf="f.CopiesTo.errors.required">Copies To is required</div>
                      </div> -->
                            </div>
                          </div>
                    </div>
      
                   
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group"  tooltip="Application Role. tooltip">
                              <div class="input-group-prepend">
                                <span class="input-group-text redStar">Application Role</span>
                              </div>
                              <!-- <select class="form-control"  multiple 
                              [ngClass]="{ 'is-invalid': f.ApplicationRole.touched  &&  f.ApplicationRole.invalid }"
                              formControlName="ApplicationRole"  name="ApplicationRole" required   >
                                <option value="" disabled >Please select</option>
                                <option *ngFor="let e of appRoles" [value]="e._id" >{{e.RoleName}}</option>
                                
                              </select>  -->
                               <mat-select  class="form-control"  multiple 
                               [ngClass]="{ 'is-invalid': f.ApplicationRole.touched  &&  f.ApplicationRole.invalid }"
                                 formControlName="ApplicationRole"  name="ApplicationRole" required >
                                <mat-option *ngFor="let e of appRoles" [value]="e._id">{{e.RoleName}}</mat-option>
                              </mat-select> 
                              <div *ngIf="f.ApplicationRole.touched && f.ApplicationRole.invalid" class="invalid-feedback">
                                <div *ngIf="f.ApplicationRole.errors.required">Application Role is required</div>
                            </div>
                            </div>
                          </div>
                    </div>
                    
                </div>
      
      
                <div class="form-group row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text redStar">Start Date  &nbsp; &nbsp; </span>
                              </div>
                              <input class="autoc-border  form-control" (click)="picker.open()" readonly matInput  [matDatepicker]="picker"
                              formControlName="JoiningDate" name="JoiningDate"
                              [ngClass]="{ 'is-invalid': f.JoiningDate.touched  &&  f.JoiningDate.invalid }" required >
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
      
                              <div *ngIf="f.JoiningDate.touched && f.JoiningDate.invalid" class="invalid-feedback">
                                <div *ngIf="f.JoiningDate.errors.required">Start Date is required</div>
                            </div>
                            </div>
                          </div>
                    </div>
      
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text ">Third Signatory</span>
                              </div>
                              <input type="text" class="autoc-border form-control"
                              placeholder="Search for a Third Signatory"
                              formControlName="ThirdSignatory" name="ThirdSignatory"
                              [formControl]="f.ThirdSignatory" 
                              
                              [matAutocomplete]="auto2">
                       <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn" >
                        <mat-option *ngFor="let option of filteredOptionsTS | async" [value]="option">
                          {{option.FirstName}}
                        </mat-option>
                       </mat-autocomplete>
                             </div>
                          </div>
                    </div>
                    
      
                    <!-- <div class="form-group row"> -->
                      <div class="col-md-4">
                      <label class="col-md-4 col-form-label pull-left" for="inline-radios">Active</label>
                      <div class="col-md-9 col-form-label ">
                        <div class="form-check form-check-inline mr-1" id="inline-radios"><input class="form-check-input" id="inlineRadio1"
                            name="IsActive" formControlName="IsActive"  type="radio" value="true"><label class="form-check-label" for="inlineRadio1">Yes</label>
                        </div>
                        <div class="form-check form-check-inline mr-1"><input class="form-check-input" id="inlineRadio2"
                            name="IsActive"  formControlName="IsActive" type="radio" value="false"><label class="form-check-label" for="inlineRadio2">No</label>
                        </div>
                        
                      </div>
                    </div>
                    
                </div>
      
                <!-- <div class="form-group row">
                  <div *ngIf="isRoleChanged" class="col-md-4">
                      <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text redStar">Role Effective From</span>
                            </div>
                            <input class="autoc-border  form-control" (click)="RoleEffpicker.open()" readonly matInput  [matDatepicker]="RoleEffpicker"
                            formControlName="RoleEffFrom" name="RoleEffFrom"
                            [ngClass]="{ 'is-invalid': f.RoleEffFrom.touched  &&  f.RoleEffFrom.invalid }"  >
                            <mat-datepicker-toggle matSuffix [for]="RoleEffpicker"></mat-datepicker-toggle>
                            <mat-datepicker #RoleEffpicker></mat-datepicker>
      
                            <div *ngIf="f.RoleEffFrom.touched && f.RoleEffFrom.invalid" class="invalid-feedback">
                              <div *ngIf="f.RoleEffFrom.errors.required">Role Effective From is required</div>
                          </div>
                          </div>
                        </div>
                  </div>
                </div> -->
                   
                <div class="form-group form-actions pull-right">
                  <button class="btn btn-sm btn-primary" (click)="onCancle()" >Cancel</button>
                  <button [disabled]="!empForm.valid" class="btn btn-sm btn-primary" (click)="submitCreateEmployee()" >Submit</button>
                </div>
  
                <p class="pull-left ">Note: All fields marked with * are mandatory</p>
              
              </form>
      
      
              
  
  
              <br>
             
            </div>
          </div>
        </div><!--/.col-->
      </div><!--/.row-->
    </div>
    
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    
    
    
    