<div class="animated fadeIn" >
    <div >
        <div *ngIf="showKpiForm;else noRecordsFound">
            <div class="card">
                <div *ngIf="accessingFrom!='currEvaluation' " class="card-header">
                    {{loginUser?.FirstName}} {{ loginUser?.LastName}} - Performance Goals

                    <div class="form-group form-actions pull-right m-0">
                        <button type="button" class="btn btn-sm btn-primary" 
                        (click)="router.navigate(['employee/kpi-setup'])">
                        <i class="fa fa-arrow-left" style="padding-right: 8px;"></i>Back to list
                      </button>&nbsp;
                      <button *ngIf="showAllowSignoff" type="button" class="btn btn-sm btn-primary" 
                       (click)="DenyAllSignOffKpis()">Deny</button>&nbsp;
                      <button *ngIf="showAllowSignoff" type="button" class="btn btn-sm btn-primary" 
                        (click)="submitAllSignoffKPIs()">
                        Allow
                      </button>&nbsp;
                      <button *ngIf="kpiDetails?.IsActive" class="btn btn-sm btn-primary"  (click)="confirmActiveDeActiveKPI(false)" title="Deactivate Performance Goal">Deactivate</button>&nbsp;

                    <button *ngIf="!kpiDetails?.IsActive" class="btn btn-sm btn-primary"  (click)="confirmActiveDeActiveKPI(true)" title="Active Performance Goal">Active</button>&nbsp;
                      <button class="btn btn-sm btn-primary"  (click)="trackKpi()"  title="Track Performance Goal" >Track</button>&nbsp;
                      &nbsp;<i (click)="printPage()" title="Print" class="fa fa-file-pdf-o hide-print" style="font-size:21px;color:red"></i>
                    </div>
                    
                </div>
                <div class="card-body">


                    <form  autocomplete="off"  [formGroup]="kpiForm" novalidate="" [ngClass]="{ 'view-only': currentAction == 'view' }"
                     class="ng-untouched ng-pristine ng-valid">

                        <div class="row">
                            <div class="col-md-6 kpi-fl ">
                                <div class="col-md-4">
                                    <strong class="strong-key">Evaluation Period: </strong> 
                                </div>
                                <div class="col-md-5"><span span class="span-value" >{{getEVPeriod()}}</span></div>

                            </div>

                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <strong class="strong-key">Title: </strong>
                                </div>
                                <div class="col-md-5"><span class="span-value">{{loginUser?.Title}}</span></div>

                            </div>

                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <strong class="strong-key">Department: </strong>
                                </div>
                                <div class="col-md-5"><span class="span-value">{{loginUser?.Department}}</span></div>

                            </div>

                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <strong class="strong-key">Length of Service: </strong>
                                </div>
                                <div class="col-md-5"><span class="span-value">{{ loginUser?.JoiningDate| dateAgo}}</span></div>

                            </div>

                        <!-- </div>

                        <div class="row"> -->
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <strong class="strong-key">Manager: </strong>
                                </div>
                                <div class="col-md-5"><span class="span-value">{{loginUser?.Manager? loginUser?.Manager?.FirstName :'NA'}}</span></div>

                            </div>

                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <strong class="strong-key" >Length of Time in Current Role: </strong>
                                </div>
                                <div class="col-md-5"><span class="span-value" >{{ loginUser?.RoleEffFrom | dateAgo}}</span></div>

                            </div>

                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <strong class="strong-key">Leadership Role: </strong>
                                </div>
                                <div class="col-md-5"><span class="span-value">{{loginUser?.DirectReports?'Yes':'No'}}</span></div>

                            </div>

                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <strong class="strong-key">Job Level: </strong>
                                </div>
                                <div class="col-md-5"><span class="span-value">{{loginUser?.JobLevel?.JobLevelName}}</span></div>

                            </div>

                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <div class="input-group" tooltip="A goal is an outcome you want to achieve and will be measured against.">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text redStar">
                                                Performance Goal</span>
                                        </div>
                                        <input max="500" maxlength="500" class="form-control" type="text"
                                        [readonly]="currentAction == 'edit' && f?.IsDraft?.value=='false' "
                                            [ngClass]="{ 'is-invalid': f.Kpi.touched  &&  f.Kpi.invalid }"
                                            formControlName="Kpi" name="Kpi" required
                                            [matAutocomplete]="kpiAuto">

                                            <mat-autocomplete #kpiAuto="matAutocomplete" (optionSelected)="onKpiAutoSelected($event)" [displayWith]="displayKPIFn" >
                                                <mat-option *ngFor="let option of filteredOptionsKPI | async" [value]="option">
                                                  {{option.Kpi}}
                                                </mat-option>
                                               </mat-autocomplete>

                                        <div *ngIf="f.Kpi.touched && f.Kpi.invalid" class="invalid-feedback">
                                            <div *ngIf="f.Kpi.errors?.required">Performance Goal is mandatory.</div>
                                            <div *ngIf="f.Kpi.errors.minlength">Performance Goal Name must be at least 2
                                                characters </div>
                                            <div *ngIf="f.Kpi.errors.hasKPISplChars">Allowed special characters are
                                                (.,-,(,),&,#,:,/,?) </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- <div class="col-md-2">
                                <button class="btn btn-block btn-primary"
                                    type="button">+ Add Performance Goal  </button>
                                </div> -->

                        </div>


                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <div class="input-group" tooltip="KPI is a metric (aka something you measure) that lets you know well you are progressing towards the goal">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text redStar">KPI</span>
                                        </div>
                                        <input *ngIf="addMCSwitch" max="500" maxlength="500" class="form-control" type="text"
                                       
                                            formControlName="MeasurementCriteria" name="MeasurementCriteria" 
                                           >


                                            <input  [hidden]="currentAction == 'view' || accessingFrom=='currEvaluation' " *ngIf="!addMCSwitch" max="500" maxlength="500" 
                                            class="form-control text-capitalize" type="text"
                                            style=" text-overflow: ellipsis !important;"
                                            [readonly]="currentAction == 'view' || accessingFrom=='currEvaluation' "
                                            [ngClass]="{ 'is-invalid': f.MeasurementCriteria.touched  &&  selectedItems.length==0 }"
                                                formControlName="MeasurementCriteria" name="MeasurementCriteria" 
                                                [matAutocomplete]="auto2" 
                                                >
                                                <!-- [placeholder]="msSelText" to show sel kpis --> 

                                                <div *ngIf="selectedItems?.length > 0" class="container" style="border: 1px solid #ddd;padding:8px;">
                                                    <span *ngFor="let item of  selectedItems" class="sel-kpi" >{{item.Name}}</span>
                                                    
                                                  </div>
                                                                             
                                                                                    
                                            <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn" >
                                             
                                                
                                                <mat-option *ngFor="let option of filteredOptionsTS | async" [value]="option">
                                                 
                                                  <div (click)="optionClicked($event, option);">
                                                    <mat-checkbox [checked]="option?.selected" class="text-capitalize"
                                                 (change)="toggleSelection(option,$event)" (click)="$event.stopPropagation()">
                                                        {{option.Name}}
                                                    </mat-checkbox>
                                                </div>
                                                </mat-option>
                                               </mat-autocomplete>

                                        <div *ngIf="f.MeasurementCriteria.touched && selectedItems.length==0" class="invalid-feedback">
                                            <div *ngIf="selectedItems.length==0">KPI is mandatory</div>
                                        </div>

                                    </div>
                                </div>
                                
                            </div>
                            <!-- <div class="col-md-1 " style="margin-left: -10px;" >
                            <label *ngIf="currentAction == 'create'" class=" switch switch-label switch-lg switch-primary input-group-postpend ml-2">
                                <input (change)="toggleSwitch()" [checked]="addMCSwitch" class="switch-input form-control" type="checkbox">
                                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span></label>
                            </div> -->
                            <div *ngIf="currentAction != 'view' && accessingFrom!='currEvaluation' " class="col-md-1"  >
                                <button style="width: 88px !important;padding: 3px 0px;" class="btn btn-block btn-primary pull-left" 
                                 (click)="addMesurment()" [disabled]="disabledAddKpiBtn"  >+ Add KPI  </button>
                                </div>

                        </div>



                        <div class="row">


                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text redStar"> Target Completion</span>
                                        </div>
                                        <input class="autoc-border  form-control" (click)=" (currentAction == 'create' || (currentAction == 'edit' && f?.IsDraft?.value=='true') ) && picker.open()" readonly
                                            matInput [matDatepicker]="picker" formControlName="TargetCompletionDate" name="TargetCompletionDate"
                                            [ngClass]="{ 'is-invalid': f.TargetCompletionDate.touched  &&  f.TargetCompletionDate.invalid }"
                                            required>
                                        <mat-datepicker-toggle *ngIf="currentAction == 'create' " matSuffix [for]="picker">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>

                                        <div *ngIf="f.TargetCompletionDate.touched && f.TargetCompletionDate.invalid" class="invalid-feedback">
                                            <div *ngIf="f.TargetCompletionDate.errors.required">Target Completion is mandatory.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend" tooltip ="Generally, goals will be equally weighted">
                                            <span class="input-group-text ">Weighting</span>
                                        </div>
                                        <div class="autoc-border  form-control">
                                            <input class="border-0 w-50" readonly formControlName="Weighting" name="Weighting">
                                            <span class="mat-button-wrapper pull-right">%</span>
                                        </div>
                                    </div>
                                </div>

                              
                            </div>



                            <div class="col-md-4 pull-right" >
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text redStar">Status</span>
                                        </div>
                                        <select class="form-control" [ngClass]="{ 'is-invalid': f.Status.touched  &&  f.Status.invalid }"
                                            formControlName="Status" name="Status" required>
                                            <option value="" disabled>Please select</option>
                                            <option *ngFor="let e of kpiStatus" [value]="e">{{e}}</option>

                                        </select>
                                        <div *ngIf="f.Status.touched && f.Status.invalid" class="invalid-feedback">
                                            <div *ngIf="f.Status.errors.required">Status is mandatory.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" *ngIf="accessingFrom =='currEvaluation' " >
                                    <div class="input-group" tooltip ="Rating for performance goals">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text redStar">Score (self)</span>
                                        </div>
                                        <!-- <input class="form-control" type="text" disabled *ngIf="currentAction == 'create'"
                                            style="background-color:#e4e7ea !important" /> -->
                                        <select class="form-control" 
                                            [ngClass]="{ 'is-invalid': f.Score.touched  &&  f.Score.invalid }" formControlName="Score"
                                            name="Score">
                                            <option value="" disabled>Please select</option>
                                            <option *ngFor="let e of appScores" [value]="e.value">{{e.value}}-{{e.Text}}</option>

                                        </select>
                                        <div *ngIf="f.Score.touched && f.Score.invalid" class="invalid-feedback">
                                            <div *ngIf="f.Score.errors.required">Score is mandatory.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-4">

                                <div *ngIf="kpiDetails?.IsSubmitedKPIs" class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Sign-off</span>
                                    </div>
                                    <input maxlength="500" class="form-control" cols="" rows="4" disabled
                                        [ngClass]="{ 'is-invalid': f.Signoff.touched  &&  f.Signoff.invalid }" formControlName="Signoff"
                                        name="Signoff">
                                </div>
                            </div> -->

                            <div class="col-md-4 pull-left" *ngIf="accessingFrom=='currEvaluation' ">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Year-end Comments</span>
                                                            </div>
                                                            <textarea maxlength="500" class="form-control"  cols="" rows="4"
                                                            [ngClass]="{ 'is-invalid': f.YearEndComments.touched  &&  f.YearEndComments.invalid }"
                                                            formControlName="YearEndComments"  name="YearEndComments"  >  </textarea>
                                    
                                                            
                                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                   

                                                    <div class="col-md-4 pull-left" *ngIf="accessingFrom!='currEvaluation' && kpiDetails?.ManagerSignOff?.SignOffBy ">
                                                        <div class="form-group view-only">
                                                            <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Manager Comments</span>
                                                            </div>
                                                            <textarea maxlength="500" class="form-control"  cols="" rows="4"
                                                            [ngClass]="{ 'is-invalid': f.ManagerComments.touched  &&  f.ManagerComments.invalid }"
                                                            formControlName="ManagerComments"  name="ManagerComments"  >  </textarea>
                                    
                                                            
                                    
                                                            </div>
                                                        </div>
                                                    </div>

                        </div>
<div class="row" *ngIf="kpiDetails?.IsSubmitedKPIs">
    <div class="col-md-4" >

        <div  class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Sign-off</span>
            </div>
            <input maxlength="500" class="form-control" cols="" rows="4" disabled
            [value]="kpiDetails?.Signoff?.SignOffBy"               >
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text "> Date</span>
                </div>
                <input class="autoc-border  form-control"  readonly
              [value]="kpiDetails?.EmpFTSubmitedOn | date" >

                
            </div>
        </div>

    </div>
</div>

                        <p class="pull-left  hide-print"> <strong>Note: </strong> All fields marked with * are mandatory</p>
                        <div class="clearfix"></div>
                        <div *ngIf="currentAction != 'create'" class=" row form-group form-actions clearfix w-100 d-block all-events ">
                            <button [disabled]='selIndex==0' class="btn btn-link pull-left" (click)="priKpi()" >Previous</button>
                            <button [disabled]='selIndex+1 == empKPIData.length'  class="btn btn-link pull-right" (click)="nextKpi()" >Next</button>
                            
                          </div>
                        <div class="clearfix"></div>

                        <div *ngIf="kpiDetails?.ManagerSignOff?.SignOffBy" class="row ">
                           
                            <div class="col-md-3 ">
                                <div class="col-md-6">
                                    <strong class="strong-key">Manager Sign-off: </strong>
                                </div>
                                <div class="col-md-6"><span class="span-value" >{{kpiDetails?.ManagerSignOff?.SignOffBy}}</span></div>

                            </div>

                            <div class="col-md-2 ">
                                <div class="col-md-5">
                                    <strong class="strong-key">Date: </strong>
                                </div>
                                <div class="col-md-7"><span class="span-value">{{ kpiDetails?.ManagerSignOff?.SignOffOn | date}}</span></div>

                            </div>

                            <div class="col-md-2 kpi-fl " *ngIf="kpiDetails.ManagerScore?.length>0 && accessingFrom =='currEvaluation' " >
                                <div class="col-md-9">
                                    <strong class="strong-key">Score (manager):</strong> 
                                </div>
                                <div class="col-md-3"><span class="span-value">{{ showManagerScore ? kpiDetails.ManagerScore : ''}}</span></div>

                            </div>

                            <div class="col-md-5 " *ngIf="kpiDetails.ManagerScore?.length>0 && accessingFrom =='currEvaluation' "  >
                                <div class="col-md-6">
                                    <strong class="strong-key">Year-end Comments (manager): </strong>
                                </div>
                                <div class="col-md-6"><span class="span-value">{{kpiDetails.YECommManager? kpiDetails.YECommManager :'N/A'}}</span></div>

                            </div>

                        </div>

                        <div *ngIf="!showAllowSignoff && currentAction != 'view' && !isEmpFRSignOff" class="form-group form-actions pull-right">
                            <button *ngIf="accessingFrom!='currEvaluation' " class="btn btn-sm btn-primary" (click)="onCancle()" >Cancel</button>&nbsp;
                            <button *ngIf="f?.IsDraft?.value=='true' || currentAction == 'create' " class="btn btn-sm btn-primary" (click)="draftKpi()" >Save</button>&nbsp;
                            <button  *ngIf="currentAction == 'edit' && f?.IsDraft?.value=='false' " class="btn btn-sm btn-primary" (click)="submitKpi('u')" >Update</button>
                                 <button *ngIf="f?.IsDraft?.value=='true' || currentAction == 'create'  " class="btn btn-sm btn-primary" [disabled]="disabledCreateBtn" (click)="submitKpi('c')" >Create</button>
                            <!-- [disabled]="!kpiForm.valid" <button *ngIf="!kpiDetails?.IsSubmitedKPIs" class="btn btn-sm btn-primary"  (click)="conformSubmitKpis()" >Submit Performance Goals</button> -->
                          </div>
            
                          <!-- <p class="pull-left  hide-print"> <strong>Note: </strong> All fields marked with * are mandatory</p> -->
                          <!-- <div *ngIf="currentAction != 'create'" class=" row form-group form-actions clearfix w-100 d-block all-events ">
                            <button [disabled]='selIndex==0' class="btn btn-link pull-left" (click)="priKpi()" >Previous Kpi</button>
                            <button [disabled]='selIndex+1 == empKPIData.length'  class="btn btn-link pull-right" (click)="nextKpi()" >Next Kpi</button>
                            
                          </div> -->

                    </form>
                </div>
            </div>

        </div>

        <ng-template class="col-md-12"  #noRecordsFound>
            <h3 class="heading-with-margin">No Performance Goals Found</h3>
        </ng-template>
    </div>
</div>





<!--For PR track  in model-->
<ng-template #kpiTrack class="modal fade " tabindex="-1" role="dialog"

>
  <div class="modal-body">
    <div class="modal-content no_bdr">
        <div class="container clearfix" style="height: 200px;   overflow-y: auto;">
          <!-- <ul class="timeline clearfix">
            <li   [ngClass]="{ 'active' : last }"  *ngFor="let t of kpiDetails?.tracks;let i=index;let last = last">
              <span>{{t.comment}}</span>
              <div class="clear"></div>
              <i *ngIf="!last"></i>
            </li>
          </ul>       -->
          
          <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th><b>Action By </b></th>
                    <th> <b>Action </b></th>
                    <th> <b>Action On</b></th>
                    <th> <b>Values</b></th>
                </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let h of kpiHistoryData">
              <tr>
                <td>{{h.CreatedBy.FirstName }} {{ h.CreatedBy.LastName}}</td>
                <td>{{h.Action}}</td>
                <td>{{h.CreatedOn | date:'short'}}</td>
                <td>{{h.formatedValues}}</td>
              </tr>
            </ng-container>
            </tbody>
        </table>
        </div>
      <div class="modal-footer m-auto" style="border-top:none;">
        <button type="button" (click)="trackViewRef.hide()" class="btn btn-primary pull-right"
        data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</ng-template>
