<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                 Employee KPI Setting

                    <div class="form-group form-actions pull-right m-0">
                    </div>
                </div>
                <div class="card-body">


                    <form  novalidate="" class="ng-untouched ng-pristine ng-valid">

                        <div class="form-group row">
                            <div class="col-md-3 d-inherit">
                                <div class="col-md-6">
                                    <strong>Evaluation Period</strong>
                                </div>
                                <div class="col-md-5"><span>Jan - Dec 2020</span></div>
                               
                            </div>

                            <div class="col-md-3 d-inherit">
                                <div class="col-md-6">
                                    <strong>Title</strong>
                                </div>
                                <div class="col-md-5"><span>Jan - Dec 2020</span></div>
                               
                            </div>

                            <div class="col-md-3 d-inherit">
                                <div class="col-md-6">
                                    <strong>Department</strong>
                                </div>
                                <div class="col-md-5"><span>Jan - Dec 2020</span></div>
                               
                            </div>

                            <div class="col-md-3 d-inherit">
                                <div class="col-md-6">
                                    <strong>Length of Service</strong>
                                </div>
                                <div class="col-md-5"><span>Jan - Dec 2020</span></div>
                               
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 d-inherit">
                                <div class="col-md-6">
                                    <strong>Manager</strong>
                                </div>
                                <div class="col-md-5"><span>Jan - Dec 2020</span></div>
                               
                            </div>

                            <div class="col-md-3 d-inherit">
                                <div class="col-md-6">
                                    <strong>Length of Time in Current Role</strong>
                                </div>
                                <div class="col-md-5"><span>Jan - Dec 2020</span></div>
                               
                            </div>

                            <div class="col-md-3 d-inherit">
                                <div class="col-md-6">
                                    <strong>Leadership Role</strong>
                                </div>
                                <div class="col-md-5"><span>Jan - Dec 2020</span></div>
                               
                            </div>

                            <div class="col-md-3 d-inherit">
                                <div class="col-md-6">
                                    <strong>Job Level</strong>
                                </div>
                                <div class="col-md-5"><span>Jan - Dec 2020</span></div>
                               
                            </div>

                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>