<div class="wrapper"> 
  <!--Section1 Start Here-->
    <div class="container clearfix">
        <div class="box_main clearfix">
          <div class="row">
            <!-- Box1 -->
            <div class="box col-lg-4">
              <div class="box_in">
                <h2>Client Info<span>History of the clients</span></h2>
                <div class="box_in_bar">
                  <div class="box_in_bar_total">
                    <div class="box_in_bar_total_blue"></div>
                    <strong>Total Clients</strong>
                    <h3>{{dashboardData.ClientStatus.total}}</h3>
                  </div>
                  <div class="box_in_bar_total">
                    <div class="box_in_bar_total_green"></div>
                    <strong>Active Clients</strong>
                    <h3>{{dashboardData.ClientStatus.active}}</h3>
                  </div>
                  <div class="box_in_bar_total">
                    <div class="box_in_bar_total_grey"></div>
                    <strong>InActive Clients</strong>
                    <h3>{{dashboardData.ClientStatus.inactive}}</h3>
                  </div>
                  <div class="clear"></div>
                </div>
                <div class="box_in_bar_revenue clearfix">
                  <div class="box_in_bar_text">
                    <h2><span>No of Employees</span>12,250</h2>
                  </div>
                  <div class="box_in_bar_text">
                    <h2><span>Total clients revenue</span>$25000.00</h2>
                  </div>
                </div>
                <div class="box_in_btns">
                  <a href="#" class="box_in_btns_add">Add New Client +</a>
                  <a href="#" class="box_in_btns_modify">Modify Clients <i>...</i></a>
                  <div class="clear"></div>
                </div> 
                <a href="#" class="box_in_btns_view">View details &#8594;</a>
                <div class="clear"></div>
              </div>
            </div>
            <!-- Box 2 -->
            <div class="box col-lg-4">
              <div class="box_in">
                <h2>Reseller Info<span>History of the clients</span></h2>
                <div class="box_in_bar">
                  <div class="box_in_bar_total">
                    <div class="box_in_bar_total_blue"></div>
                    <strong>Total Reseller</strong>
                    <h3>{{dashboardData.ResellerStatus.total}}</h3>
                  </div>
                  <div class="box_in_bar_total">
                    <div class="box_in_bar_total_green"></div>
                    <strong>Active Reseller</strong>
                    <h3>{{dashboardData.ResellerStatus.active}}</h3>
                  </div>
                  <div class="box_in_bar_total">
                    <div class="box_in_bar_total_grey"></div>
                    <strong>InActive Reseller</strong>
                    <h3>{{dashboardData.ResellerStatus.inactive}}</h3>
                  </div>
                  <div class="clear"></div>
                </div>
                <div class="box_in_bar_revenue clearfix">
                  <div class="box_in_bar_text">
                    <h2><span>No of Licence Sold</span>12,250</h2>
                  </div>
                  <div class="box_in_bar_text">
                    <h2><span>Total reseller revenue</span>$25000.00</h2>
                  </div>
                </div>
                <div class="box_in_btns">
                  <a href="#" class="box_in_btns_add">Add New Client +</a>
                  <a href="#" class="box_in_btns_modify">Modify Clients <i>...</i></a>
                  <div class="clear"></div>
                </div> 
                <a href="#" class="box_in_btns_view">View details &#8594;</a>
                <div class="clear"></div>
              </div>
            </div>
            <!-- Box 3 -->
            <div class="box col-lg-4">
              <div class="box_in">
                <h2>Revenue Info-Clients</h2>
                <div style="display: block;">
                  <canvas baseChart width="400" height="200"
                              [datasets]="lineChartData"
                              [labels]=lineChartLabels
                              [options]=lineChartOptions
                              [colors]=lineChartColors
                              [legend]=lineChartLegend
                              chartType={{lineChartType}}
                              [plugins]=lineChartPlugins
                              (chartHover)="chartHovered($event)"
                              (chartClick)="chartClicked($event)"></canvas>
                  </div>
                
                <a href="#" class="box_in_btns_view">View details &#8594;</a>
                <div class="clear"></div>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- Box1 -->
            <div class="box col-lg-4">
              <div class="box_in">
                <h2>Revenue Info-reseller</h2>
                
                
                <div style="display: block;">
                  <canvas baseChart width="400" height="200"
                              [datasets]="lineChartData"
                              [labels]=lineChartLabels
                              [options]=lineChartOptions
                              [colors]=lineChartColors
                              [legend]=lineChartLegend
                              chartType={{lineChartType}}
                              [plugins]=lineChartPlugins
                              (chartHover)="chartHovered($event)"
                              (chartClick)="chartClicked($event)"></canvas>
                  </div>
                <a href="#" class="box_in_btns_view">View details &#8594;</a>
                <div class="clear"></div>
              </div>
            </div>
            <!-- Box 2 -->
            <div class="box col-lg-4">
              <div class="box_in">
                <h2>Notifications</h2>
                
                 
                <a href="#" class="box_in_btns_view">View details &#8594;</a>
                <div class="clear"></div>
              </div>
            </div>
            <!-- Box 3 -->
            <div class="box col-lg-4">
              <div class="box_in">
                <h2>Calender</h2>
                
                
                <a href="#" class="box_in_btns_view">View details &#8594;</a>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          
        </div>
     </div>
  <!--Section1 End Here-->
   
</div>
