<div class="wrapper"> 
  <!--Section1 Start Here-->
    <div class="container clearfix">
        <div class="box_main clearfix">
          <div class="row">
            <!-- Box1 -->
            <div class="box col-lg-6">
              <div class="box_in">
              <h2>Revenue Info-Reseller</h2>
                <app-client-summary [chartTypeInput]="'CLIENT_SUMMARY'" [userType]="'Client'"></app-client-summary>
              </div>
            </div>
            <!-- Box 2 -->
            <div class="box col-lg-6">
              <div class="box_in">
                <app-client-summary [chartTypeInput]="'STATUS'" [userType]="'Client'"></app-client-summary>
              </div>
            </div>
            
          </div>

          <div class="row">
            <!-- Box1 -->
            <div class="box col-lg-6">
              <div class="box_in">
                <app-client-summary [chartTypeInput]="'STATUS'" [userType]="'Reseller'"></app-client-summary>
              </div>
            </div>
            <!-- Box 2 -->
            <!-- Box1 -->
            <div class="box col-lg-6">
              <div class="box_in">
                <h2>Revenue Info-Reseller</h2>
                
                
                <div style="display: block;">
                  <div class="middle">
                    <h1>COMING SOON</h1>
                    <hr>
                  </div>
                  </div>
                <!-- <a href="#" class="box_in_btns_view">View details &#8594;</a>-->
                <div class="clear"></div>
              </div>
            </div>
            
          </div>

          <div class="row">
            <!-- Box 3 -->
            <div class="box col-lg-6">
              <div class="box_in">
                <h2>Revenue Info-Clients</h2>
                <div style="display: block;">
                  <div class="middle">
                    <h1>COMING SOON</h1>
                    <hr>
                  </div>
                  </div>
                
                <!-- <a href="#" class="box_in_btns_view">View details &#8594;</a>-->
                <div class="clear"></div>
              </div>
            </div>
            
            
          </div>
          
        </div>
     </div>
  <!--Section1 End Here-->
   
</div>
