<div class="wrapper"> 
  <!--Section1 Start Here-->
    <div class="container clearfix">
        <div class="box_main clearfix">
          <div class="row">
            <!-- Box1 -->
            <div class="box col-lg-6">
              <div class="box_in">
              <h3 style="text-align:center">Client Summary - By usage</h3>
                <app-client-summary [chartTypeInput]="'CLIENT_SUMMARY'" [userType]="'Client'"></app-client-summary>
              </div>
            </div>
            <!-- Box 2 -->
            <div class="box col-lg-6">
              <div class="box_in">
              <h3 style="text-align:center">Client Summary - Status</h3>
                <app-client-summary [chartTypeInput]="'STATUS'" [userType]="'Client'"></app-client-summary>
              </div>
            </div>
            
          </div>

          <div class="row">
            <!-- Box1 -->
            <div class="box col-lg-6">
              <div class="box_in">
                <h3 style="text-align:center">Reseller Summary - Status</h3>
                <app-client-summary [chartTypeInput]="'STATUS'" [userType]="'Reseller'"></app-client-summary>
              </div>
            </div>
            <!-- Box 2 -->
            <!-- Box1 -->
 

      
          
        </div>
     </div>
  <!--Section1 End Here-->
   
</div>
