<div [formGroup]="form" class="row" style="margin-top:1%">

  <div class="col-xs-6  col-lg-6 col-md-6">
    <ul style="list-style:desc">
      <li> <label [attr.for]="question.key">{{question.label}}</label></li>
    </ul>
    <label [attr.for]="question.key">{{question.label}}</label>
  </div>
  <div class="col-xs-6  col-lg-6 col-md-6">    
    <div [ngSwitch]="question.controlType" class="row">
      <div *ngIf="question.showEmpRating" class="col-xs-3  col-lg-3 col-md-3">
        <input *ngSwitchCase="'dropdown'" [value]="question.empRating" readonly class="form-control" name="ff" >
      </div>
      <div class="col-xs-3  col-lg-6 col-md-3">
        <select class="form-control" [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
          <option *ngFor="let opt of question.options" [value]="opt.value">{{opt.value}}-{{opt.Text}}</option>
        </select>
      </div>


    </div>
  </div>

  <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
</div>