<div class="animated fadeIn">


    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
             Developmental Goals  
                     </div>
          <div class="card-body">
            <tabset #staticTabs class="pro-tabs">
              <tab>
    
                <ng-template tabHeading><i ></i> My Goals</ng-template>
               
              </tab>
              <tab >
    
                <ng-template tabHeading><i ></i>Manager Goals Review</ng-template>
               
              </tab>
              <tab >
    
                <ng-template tabHeading><i ></i>TS Goals Review</ng-template>
               
              </tab>
              <tab >
    
                <ng-template tabHeading><i class="icon-hand-rock"></i>Pears Goals Review</ng-template>
               
              </tab>
              
            </tabset>
            
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>