<div class="row">
  <form [formGroup]="form" style="width: 100%;">
    <table class="table">
      <thead>
        <th>Question</th>
        <th></th>
        <th style="margin-left: -27px; display: block;margin-bottom: -1px;padding-left: 0px;">Employee Rating</th>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div *ngFor="let question of questions">
      <app-competency-questions [question]="question" [form]="form"></app-competency-questions>
    </div>

    <div *ngIf="form" class="form-row">
      
      <div *ngIf="questions[0].showEmpRating" class="col-md-6">
        <div style="margin-left: 10px;" class="form-group">
          <label  for="EmpComments" class="strong-key"> Comments: </label>
          <textarea maxlength="500" class="form-control" cols="" rows="4" formControlName="EmpComments"
            name="EmpComments">  </textarea>
        </div>
      </div>

      <div *ngIf="questions[0].showEmpRating" class="col-md-6">
        <div style="margin-left: 10px;" class="form-group">
          <label for="Comments" class="strong-key"> Manager Comments: </label>
          <textarea maxlength="500" class="form-control" cols="" rows="4" formControlName="Comments"
            name="Comments">  </textarea>
        </div>
      </div>
      <div *ngIf="!questions[0].showEmpRating" class="col-md-6">
        <div style="margin-left: 10px;" class="form-group">
          <label for="Comments" style="font-weight: 600;">  Comments: </label>
          <textarea maxlength="500" class="form-control" cols="" rows="4" formControlName="Comments"
            name="Comments">  </textarea>
        </div>
      </div>
    </div>
  </form>

  <!-- <div *ngIf="payLoad" class="form-row">
      <strong>Saved the following values</strong><br>{{payLoad}}
    </div> -->
</div>
