<div class="payment_method_main">
  <div class="wrapper"> 
    <div class="release_method_cont">
      
      <div class="release_method_cont_in paymentinfo">
        
        <h3 class="wow fadeIn" data-wow-delay="0.2s">Payment info</h3>
        <div class="release_method_space">
            <div class="row m-b15">
                <div class="col-lg-12">
                  <label>Payment Type</label>
                  <select  class="form-control" (change)="loadPayment($event.target.value)">
                    <option value="">Select Payment</option>
                    <option *ngIf="!isinitialPaymentDone" value="initial_pay">Initial Payment</option>
                    <option *ngIf="isinitialPaymentDone" value="adhoc_pay">Adhoc Payment</option>
                    <option *ngIf="isinitialPaymentDone && !isReseller" value="renewal_pay">Renewal</option>
                    <option *ngIf="isinitialPaymentDone && isReseller" value="client_renewal_pay">Renewal</option>
                  </select>
                  <i class="fa fa-chevron-down"></i>
                </div>
              </div>
          <!--<div class="row m-b15">
            <div class="col-lg-12">
              <label>Organisation</label>
              <select disabled  class="form-control" >
                <option selected value="">{{currentOrganization?.Name}}</option>
              </select>
              <i class="fa fa-chevron-down"></i>
            </div>
          </div>-->
          <div class="row m-b15">
            <div class="col-lg-6" *ngIf="isReseller">
              <label>Clients</label>
              <select [(ngModel)]="paymentModel.ClientId"  class="form-control" (change)="clientOrgnizationDetails($event.target.value)">
                <option value="">Select Organisation</option>
                <option *ngFor="let item of clientData" [value]="item._id">{{item.Name}}</option>
              </select>
            </div>
            <div class="col-lg-6" *ngIf="!isReseller">
              <label>Usage type</label>
              <input readonly class="form-control" [(ngModel)]="paymentModel.UserType" name="userType"  />
              
            </div>
            <div class="col-lg-6">
               <div class="">
                  <label># of months to end of year</label>
                  <input  readonly class="form-control" [(ngModel)]="paymentModel.NoOfMonthsLable"   />
                   
                </div>
            </div>
          </div>
          <div class="row m-b15">
            <div class="col-lg-6">
              <label>Activation Date</label>
              <input [disabled]="isActiveDateDisabled" [min]="paymentModel.ActivationDate" 
              (dateInput)="onActivationDate($event.value)" 
              [(ngModel)]="paymentModel.ActivationDate" (click)="picker.open()" 
              readonly matInput [matDatepicker]="picker" >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker ></mat-datepicker>
            </div>
            <div class="col-lg-6" *ngIf="isAdhocpayment || isInitialPayment">
               <div class="">
                  <label>Range</label>
                  <input [(ngModel)]="paymentModel.Range" type="text" readonly class="form-control"  />
                </div>
            </div>

            <div class="col-lg-6" *ngIf="isRenewalPayment">
              <div class="">
                 <label>Range</label>
                 <select  class="form-control" [(ngModel)]="paymentModel.Range" (change)="onSelectRange($event.target.value)">
                  <option value="">Select</option>
                   <option *ngFor="let range of rangeList" [value]="range._id">{{range.Range}}</option>
                 </select>
                 <i class="fa fa-chevron-down"></i>
               </div>
           </div>
          </div>
          <div class="row m-b15">
            <div class="col-lg-6" *ngIf="useageTypeEmployee">
              <label># Of Employees</label>
              <input class="form-control" [(ngModel)]="paymentModel.NoOfEmployees"  />
            </div>
            
            <div class="col-lg-6">
                <div class="release_cont_freqency clearfix">
                  <label>Payment Frequency</label>
                  <div class="col-lg-6 no_pad m-t10">
                    <label class="container1">Annual
                      <input [disabled]="isPaymentFrequencyDisabled" (change)="onChangeFrequency()" [(ngModel)]="paymentModel.isAnnualPayment"  name="isAnnualPayment" type="radio"  name="payment_frequency" [value]="true">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="col-lg-6 no_pad m-t10">
                    <label class="container1">Monthly
                      <input [disabled]="isPaymentFrequencyDisabled" (change)="onChangeFrequency()" [(ngModel)]="paymentModel.isAnnualPayment" name="isAnnualPayment" type="radio" name="payment_frequency" [value]="false">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
            </div>
            
          </div>
          
          <div class="row m-b15">
            <div class="col-lg-6" *ngIf="isNoNeededVisible">
              <label>#s needed</label>
              <input (input)="onChangeNoNeeded($event.target.value)"  type="text"  class="form-control" [(ngModel)]="paymentModel.NoNeeded" />
            </div>
            
            
          </div>

        </div>
        
      </div>  
    </div>
    <div class="release_method_cont release_method_cont_middle ">
      <div class="release_method_cont_in release_method_list paymentinfo">
        <h3 class="release_payment_bg  wow fadeIn" data-wow-delay="0.2s">Payment Breakup</h3>
          <div class="release_cost_list release_method_list">
            <ul>
              <li>
                <h6>Cost<strong>Cost for the year</strong></h6>
                <span>{{paymentStructure?paymentStructure.COST_PER_PA:0}}</span>
                <div class="clear"></div>
              </li>
              <li>
                <h6>Discount<strong>Discount for annual payment</strong></h6>
                <span>{{paymentStructure?paymentStructure.DISCOUNT_PA_PAYMENT:0}}</span>
                <div class="clear"></div>
              </li>
              <li>
                <h6>Total<strong>Total Amount</strong></h6>
                <span>{{paymentStructure?paymentStructure.TOTAL_AMOUNT:0}}</span>
                <div class="clear"></div>
              </li>
              <li>
                <h6>Due<strong *ngIf="paymentModel.isAnnualPayment">Amount due (annual payment)</strong><strong *ngIf="!paymentModel.isAnnualPayment">Amount due (monthly payment)</strong></h6>
                <span>{{paymentSummary?paymentSummary.DUE_AMOUNT:0}}</span>
                <div class="clear"></div>
              </li>
              <li>
                <h6 [tooltip]="taxToolTip">Tax<strong>Tax({{stateTax?stateTax:0}}%)</strong></h6>
                <span>{{paymentSummary?paymentSummary.TAX_AMOUNT:0}}</span>
                <div class="clear"></div>
              </li>
              <li>
                <h6>Total<strong *ngIf="paymentModel.isAnnualPayment">Total Amount Payable (annual payments)</strong><strong *ngIf="!paymentModel.isAnnualPayment">Total Amount Payable (monthly payments)</strong></h6>
                <span>{{paymentSummary?paymentSummary.TOTAL_PAYABLE_AMOUNT:0}}</span>
                <div class="clear"></div>
              </li>
              <li>
                <h6>Summary<strong>Amount payable is cost per employee per year, after discount,  number of employees  + taxes.</strong></h6>
                <div class="clear"></div>
              </li>
            </ul>
          </div>
          <div class="release_method_buttons">
            <button *ngIf="isAdhocpayment || isInitialPayment" (click)="checkout()" class="release_buttons_save">Submit</button>
            <button *ngIf="isRenewalPayment" (click)="paymentReleaseInfo()" class="release_buttons_save">Submit</button>
            <a href="javascript:void(0)" class="release_buttons_cancel">Cancel</a>
            <div class="clear"></div>
          </div>
      </div>
    </div>
</div>

<div bsModal #payment_Summary="bs-modal"  [config]="{backdrop: 'static'}" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-xlg" role="document">
      <div class="modal-content">
        <div class="modal-header pt-1 pr-1">
          <h5 class="modal-title"> {{currentOrganization?.Name}} - Payment Confirmation</h5>
          <button type="button" class="close" (click)="payment_Summary.hide();closeForm()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div id="myModal" role="dialog">
                <div class="modal-dialog">
              
                    <div class="adhoc_model">
                        <div class="row m-b15">
                          <div class="col-lg-4">
                            <label>Usage Type</label>
                            <i class="release_txt_nonedit">{{paymentModel?.UserType}}</i>
                          </div>
                          <div class="col-lg-4" >
                            <label>Range</label>
                            <i class="release_txt_nonedit">{{paymentModel?.Range}}</i>
                          </div>
                          <div class="col-lg-4">
                            <label>Payment Date</label>
                            <i class="release_txt_nonedit">{{paymentDate}}</i>
                          </div>
                        </div>
                        <div class="row m-b15">
                          <div class="col-lg-4">
                             <label>Activation Date</label>
                             <i class="release_txt_nonedit">{{checkoutActivationDate}}</i>
                          </div>
                          <div class="col-lg-4" *ngIf="isReseller">
                            <label># Need</label>
                            <i class="release_txt_nonedit">{{paymentModel.NoNeeded}}</i>
                          </div>
                          <div class="col-lg-4">
                             <label>Payment Frequency</label>
                             <i *ngIf="paymentModel.isAnnualPayment" class="release_txt_nonedit">Annual</i>
                             <i *ngIf="!paymentModel.isAnnualPayment" class="release_txt_nonedit">Monthly</i>
                          </div>
                        </div>

                        <div class="row m-b15">
                          <div class="col-lg-4" *ngIf="useageTypeEmployee">
                            <label># Of Employees</label>
                            <i class="release_txt_nonedit">{{paymentModel?.NoOfEmployees}}</i>
                          </div>
                          
                        </div>
                        
                        <div class="release_cost_list">
                          <ul>
                            <li>
                              <h6>Cost<strong>Cost for the year</strong></h6>
                              <span>{{paymentStructure?paymentStructure.COST_PER_PA:0}}</span>
                              <div class="clear"></div>
                            </li>
                            <li>
                              <h6>Discount<strong>Discount for annual payment</strong></h6>
                              <span>{{paymentStructure?paymentStructure.DISCOUNT_PA_PAYMENT:0}}</span>
                              <div class="clear"></div>
                            </li>
                            <li>
                              <h6>Total<strong>Total Amount</strong></h6>
                              <span>{{paymentStructure?paymentStructure.TOTAL_AMOUNT:0}}</span>
                              <div class="clear"></div>
                            </li>

                            <li>
                              <h6>Due<strong *ngIf="paymentModel.isAnnualPayment">Amount due (annual payment)</strong><strong *ngIf="!paymentModel.isAnnualPayment">Amount due (monthly payment)</strong></h6>
                              <span>{{paymentSummary?paymentSummary.DUE_AMOUNT:0}}</span>
                              <div class="clear"></div>
                            </li>
                           
                            <li>
                              <h6>Tax<strong>Tax({{stateTax?stateTax:0}}%)</strong></h6>
                                <span>{{paymentSummary?paymentSummary.TAX_AMOUNT:0}}</span>
                                <div class="clear"></div>
                            </li>
                            <li>
                              <h6>Total<strong *ngIf="paymentModel.isAnnualPayment">Total Amount Payable (annual payments)</strong><strong *ngIf="!paymentModel.isAnnualPayment">Total Amount Payable (monthly payments)</strong></h6>
                              <span>{{paymentSummary?paymentSummary.TOTAL_PAYABLE_AMOUNT:0}}</span>
                              <div class="clear"></div>
                            </li>
                          </ul>
                        </div>
                    </div>
              
                </div>
              </div>
              <!-- Model Box Ends -->
        </div>
        <div class="modal-footer">
          <button class="btn  btn-primary" (click)="proceedToPay()" >Proceed to pay</button>
          <!--<button type="button" class="btn btn-secondary" (click)="payment_Summary.hide();closeForm()">Cancel</button>-->
          
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!-- Right Content -->
<div class="payment_method_right">
  <h5 class="wow fadeIn" data-wow-delay="0.2s">Costing Details</h5>
  <div class="wow fadeIn" data-wow-delay="0.4s"><img src="assets/payments/costing_img.png"  alt="img"></div>
  <div class="payment_right_blue wow fadeIn" data-wow-delay="0.6s">
    <h6>{{paymentStructure?paymentStructure.COST_PER_MONTH_ANNUAL_DISCOUNT:0}} <small>per month</small></h6>
    <span *ngIf="paymentModel.UserType=='Employees'">Cost per employee per month (annual discount)</span>
    <span *ngIf="paymentModel.UserType=='License'">Cost per month (annual discount)</span>
  </div>
  <div class="payment_right_blue payment_right_white wow fadeIn" data-wow-delay="0.8s">
    <h6>{{paymentStructure?paymentStructure.COST_PER_MONTH:0}} <small>per month</small></h6>
    <span *ngIf="paymentModel.UserType=='Employees'">Cost per employee per Month</span>
    <span *ngIf="paymentModel.UserType=='License'">Cost per Month</span>
  </div>
  <div class="payment_info_links">
    <!--<h5 class="wow fadeIn" data-wow-delay="1.2s">Information Links</h5>-->
    <div class="wow fadeIn" data-wow-delay="1.4s"><br/>
      <a href="javascript:void(0)" (click)="loadPaymentHistory()" class="payment_info_links_payment">
        <em><img src="assets/payments/bill.png"  alt="Bill"></em>
        <strong>Payment History</strong>
      </a>
      <a href="#/csa/adhoc-payment" class="payment_info_links_payment">
        <em><img src="assets/payments/purchase.png"  alt="Purchase"></em>
        <strong>Make Adhoc Purchase</strong>
      </a>
      <a href="javascript:void(0)" (click)="loadPriceListPage()" class="payment_info_links_payment">
        <em><img src="assets/payments/pricing.png" alt="Pricing"></em>
        <strong>View Pricing</strong>
      </a>
      <!--<a href="javascript:void(0)" class="payment_info_links_payment">
        <em><img src="assets/payments/purchase.png" alt="Purchase"></em>
        <strong>Current Contract</strong>
      </a>-->
    </div>
  </div>
</div>
<!--End Right content-->
</div>
