<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                  <em class="tab_name">   {{ownerInfo?.FirstName}} {{ownerInfo?.LastName}} </em> Performance Goal Setting

                    <div class="form-group form-actions pull-right m-0">
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                        (click)="router.navigate(['employee/review-perf-goals-list'])" ><i class="fa fa-arrow-left" style="padding-right: 8px;"></i>Back to list </button>  
                    </div>
                    
                </div>
                <div class="card-body">


                    <form  autocomplete="off"  [formGroup]="kpiForm" novalidate="" [ngClass]="{ 'view-only': currentAction == 'view' }"
                     class="ng-untouched ng-pristine ng-valid">
                     <div class="row">
                        <div class="col-md-6 kpi-fl ">
                            <div class="col-md-4">
                                <strong class="strong-key">Evaluation Period: </strong> 
                            </div>
                            <div class="col-md-5"><span span class="span-value" >{{getEVPeriod()}}</span></div>

                        </div>

                        <div class="col-md-6">
                            <div class="col-md-4">
                                <strong class="strong-key">Title: </strong>
                            </div>
                            <div class="col-md-5"><span class="span-value">{{ownerInfo?.Title}}</span></div>

                        </div>

                        <div class="col-md-6">
                            <div class="col-md-4">
                                <strong class="strong-key">Department: </strong>
                            </div>
                            <div class="col-md-5"><span class="span-value">{{ownerInfo?.Department}}</span></div>

                        </div>

                        <div class="col-md-6">
                            <div class="col-md-4">
                                <strong class="strong-key">Length of Service: </strong>
                            </div>
                            <div class="col-md-5"><span class="span-value">{{ ownerInfo?.JoiningDate| dateAgo}}</span></div>

                        </div>

                    <!-- </div>

                    <div class="row"> -->
                        <div class="col-md-6">
                            <div class="col-md-4">
                                <strong class="strong-key">Manager: </strong>
                            </div>
                            <div class="col-md-5"><span class="span-value">{{ loginUser?.FirstName }}</span></div>

                        </div>

                        <div class="col-md-6">
                            <div class="col-md-4">
                                <strong class="strong-key" >Length of Time in Current Role: </strong>
                            </div>
                            <div class="col-md-5"><span class="span-value" >{{ ownerInfo?.RoleEffFrom | dateAgo}}</span></div>

                        </div>

                        <div class="col-md-6">
                            <div class="col-md-4">
                                <strong class="strong-key">Leadership Role: </strong>
                            </div>
                            <div class="col-md-5"><span class="span-value">{{ownerInfo?.DirectReports?'Yes':'No'}}</span></div>

                        </div>

                        <div class="col-md-6">
                            <div class="col-md-4">
                                <strong class="strong-key">Job Level: </strong>
                            </div>
                            <div class="col-md-5"><span class="span-value">{{ownerInfo?.JobLevel?.JobLevelName}}</span></div>

                        </div>

                    </div>
                        <hr>

                        <div class="form-group row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="input-group" tooltip="A goal is an outcome you want to achieve and will be measured against." >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text redStar">
                                                Performance Goal</span>
                                        </div>
                                        <input max="500" maxlength="500" class="form-control" type="text"
                                            [ngClass]="{ 'is-invalid': f.Kpi.touched  &&  f.Kpi.invalid }"
                                            formControlName="Kpi" name="Kpi" required
                                            [matAutocomplete]="kpiAuto">

                                        
                                            <mat-autocomplete #kpiAuto="matAutocomplete" (optionSelected)="onKpiAutoSelected($event)" [displayWith]="displayKPIFn" >
                                                <mat-option *ngFor="let option of filteredOptionsKPI | async" [value]="option">
                                                  {{option.Kpi}}
                                                </mat-option>
                                               </mat-autocomplete>

                                        <div *ngIf="f.Kpi.touched && f.Kpi.invalid" class="invalid-feedback">

                                            <div *ngIf="f.Kpi.errors.minlength">Performance Goal Name must be at least 2
                                                characters </div>
                                            <div *ngIf="f.Kpi.errors.hasKPISplChars">Allowed special characters are
                                                (.,-,(,),&,#,:,/,?) </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- <div class="col-md-2">
                                <button class="btn btn-block btn-primary"
                                    type="button">+ Add Performance Goal  </button>
                                </div> -->

                        </div>


                        <div class="form-group row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="input-group" tooltip="KPI is a metric (aka something you measure) that lets you know well you are progressing towards the goal" >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text redStar">KPI  </span>
                                        </div>
                                        <input *ngIf="addMCSwitch" max="500" maxlength="500" class="form-control" type="text"
                                       
                                            formControlName="MeasurementCriteria" name="MeasurementCriteria" 
                                           >


                                            <input  *ngIf="!addMCSwitch" max="500" maxlength="500" 
                                            class="form-control text-capitalize" type="text"
                                            [ngClass]="{ 'is-invalid': f.MeasurementCriteria.touched  &&  selectedItems.length==0 }"
                                                formControlName="MeasurementCriteria" name="MeasurementCriteria" 
                                                [matAutocomplete]="auto2" 
                                                
                                                >
                                                <!-- [placeholder]="msSelText" to show sel kpis --> 

                                                <div *ngIf="selectedItems?.length > 0" class="container" style="border: 1px solid #ddd;padding:8px;">
                                                    <span *ngFor="let item of  selectedItems" class="sel-kpi" >{{item.Name}}</span>
                                                    
                                                  </div>
                                             

                                           
                                          

                                            

                                            <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn" >
                                             
                                                
                                                <mat-option *ngFor="let option of filteredOptionsTS | async" [value]="option">
                                                 
                                                  <div (click)="optionClicked($event, option);">
                                                    <mat-checkbox [checked]="option?.selected" class="text-capitalize"
                                                 (change)="toggleSelection(option)" (click)="$event.stopPropagation()">
                                                        {{option.Name}}
                                                    </mat-checkbox>
                                                </div>
                                                </mat-option>
                                               </mat-autocomplete>

                                        <div *ngIf="f.MeasurementCriteria.touched && selectedItems.length==0" class="invalid-feedback">

                                            <div *ngIf="selectedItems.length==0">KPI is mandatory</div>
                                        </div>

                                    </div>
                                </div>
                                
                            </div>

                            <!-- <div class="col-md-1">
                                <label *ngIf="currentAction != 'view'" class="switch switch-label switch-lg switch-primary input-group-postpend ml-2">
                                    <input (change)="toggleSwitch()" [checked]="addMCSwitch" class="switch-input form-control" type="checkbox">
                                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span></label>
                            </div> -->

                            <div *ngIf="currentAction != 'view'" class="col-md-2">
                                <button class="btn btn-primary" 
                                 (click)="addMesurment()" [disabled]="disabledAddKpiBtn" >+ Add KPI  </button>
                                </div>

                        </div>




                        <div class="form-group row">
                          
              
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text redStar"> Target Completion</span>
                                      </div>
                                      <input class="autoc-border  form-control" (click)="picker.open()" readonly matInput  [matDatepicker]="picker"
                                      formControlName="TargetCompletionDate" name="TargetCompletionDate"
                                      [ngClass]="{ 'is-invalid': f.TargetCompletionDate.touched  &&  f.TargetCompletionDate.invalid }" required >
                                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                      <mat-datepicker #picker></mat-datepicker>
              
                                      <div *ngIf="f.TargetCompletionDate.touched && f.TargetCompletionDate.invalid" class="invalid-feedback">
                                        <div *ngIf="f.TargetCompletionDate.errors.required">Target Completion is mandatory.</div>
                                    </div>
                                    </div>
                                  </div>
                            
                                <div hidden class="form-group">
                                    <div class="input-group" tooltip ="Rating for performance goals" >
                                      <div class="input-group-prepend">
                                        <span class="input-group-text ">Score (self)</span>
                                      </div>
                                      <select class="form-control"
                                      [ngClass]="{ 'is-invalid': f.Score.touched  &&  f.Score.invalid }"
                                      formControlName="Score"  name="Score"    >
                                        <option value="" disabled >Please select</option>
                                        <option *ngFor="let e of appScores" [value]="e" >{{e}}</option>
                                        
                                      </select>
                                      <div *ngIf="f.Score.touched && f.Score.invalid" class="invalid-feedback">
                                        <div *ngIf="f.Score.errors.required">Score is mandatory.</div>
                                    </div>
                                    </div>
                                  </div>
                            </div>



                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group"  >
                                      <div class="input-group-prepend">
                                        <span class="input-group-text redStar">Status</span>
                                      </div>
                                      <select class="form-control"
                                      [ngClass]="{ 'is-invalid': f.Status.touched  &&  f.Status.invalid }"
                                      formControlName="Status"  name="Status" required   >
                                        <option value="" disabled >Please select</option>
                                        <option *ngFor="let e of kpiStatus" [value]="e" >{{e}}</option>
                                        
                                      </select>
                                      <div *ngIf="f.Status.touched && f.Status.invalid" class="invalid-feedback">
                                        <div *ngIf="f.Status.errors.required">Status is mandatory.</div>
                                    </div>
                                    </div>
                                  </div>


                                 
                            </div>


                            <div hidden class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">Year-end Comments</span>
                                      </div>
                                      <textarea maxlength="500" class="form-control"  cols="" rows="4"
                                      [ngClass]="{ 'is-invalid': f.YearEndComments.touched  &&  f.YearEndComments.invalid }"
                                      formControlName="YearEndComments"  name="YearEndComments"  >  </textarea>
              
                                    
              
                                    </div>
                                  </div>
                            </div>
                            
                            
                        </div>

                        <div class="form-group row">
                            <div class="input-group col-md-4" tooltip ="Generally, goals will be equally weighted" >
                                <div class="input-group-prepend">
                                    <span class="input-group-text ">Weighting</span>
                                </div>
                                <div class="autoc-border  form-control">
                                    <input class="border-0 w-50" readonly formControlName="Weighting" name="Weighting">
                                    <span class="mat-button-wrapper pull-right">%</span>
                                </div>
                            </div>
                        </div>


                    

                        <div *ngIf="currentAction != 'view'" class="form-group form-actions pull-right">
                            <button class="btn btn-sm btn-primary" (click)="onCancle()" >Cancel</button>&nbsp;
                            <!-- <button  class="btn btn-sm btn-primary" (click)="draftKpiByManager()" >Save</button> -->
                            <button  class="btn btn-sm btn-primary" (click)="submitKpi()" >Submit</button>
                            <!-- <button [disabled]="!kpiForm.valid" class="btn btn-sm btn-primary" (click)="submitKpi()" >{{currentAction=='edit'? 'Update' :'Submit Kpi' }}</button> -->
                          </div>
            
                          <p class="pull-left  hide-print"> <strong>Note: </strong> All fields marked with * are mandatory</p>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
