<div [formGroup]="peerCompetencyForm">
    <div class="row">
        <div class="col-md-12">
            <div class=" card">
                <div class="card-header">
                    Peer Review
                  </div>
        <div class="card-body">

            <div class="row">
                <div class="col-md-6 kpi-fl ">
                    <div class="col-md-4">
                        <strong class="strong-key">Evaluation Period: </strong>
                    </div>
                    <div class="col-md-5"><span span
                        class="span-value">{{getEVPeriod()}}</span></div>

                </div>

                <div class="col-md-6">
                    <div class="col-md-4">
                        <strong class="strong-key">Title: </strong>
                    </div>
                    <div class="col-md-5"><span class="span-value">{{selectedUser?.Title}}</span></div>

                </div>

                <div class="col-md-6">
                    <div class="col-md-4">
                        <strong class="strong-key">Department: </strong>
                    </div>
                    <div class="col-md-5"><span class="span-value">{{selectedUser?.Department}}</span></div>

                </div>

                <div class="col-md-6">
                    <div class="col-md-4">
                        <strong class="strong-key">Length of Service: </strong>
                    </div>
                    <div class="col-md-5"><span
                            class="span-value">{{ selectedUser?.JoiningDate| dateAgo}}</span></div>

                </div>

                <!-- </div>

            <div class="row"> -->
                <div class="col-md-6">
                    <div class="col-md-4">
                        <strong class="strong-key">Manager: </strong>
                    </div>
                    <div class="col-md-5"><span
                            class="span-value">{{selectedUser?.Manager? selectedUser?.Manager?.FirstName :'NA'}}</span>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="col-md-4">
                        <strong class="strong-key">Length of Time in Current Role: </strong>
                    </div>
                    <div class="col-md-5"><span
                            class="span-value">{{ selectedUser?.RoleEffFrom | dateAgo}}</span></div>

                </div>

                <div class="col-md-6">
                    <div class="col-md-4">
                        <strong class="strong-key">Leadership Role: </strong>
                    </div>
                    <div class="col-md-5"><span
                            class="span-value">{{selectedUser?.DirectReports?'Yes':'No'}}</span></div>

                </div>

                <div class="col-md-6">
                    <div class="col-md-4">
                        <strong class="strong-key">Job Level: </strong>
                    </div>
                    <div class="col-md-5"><span
                            class="span-value">{{selectedUser?.JobLevel?.JobLevelName}}</span></div>

                </div>

            </div>
   <hr>
    <accordion [closeOthers]="oneAtATime">
        <accordion-group #groupval [isOpen]="groupval.isContentOpen" *ngFor="let c of competencyQuestionsList">
            <button  class="btn btn-link btn-block clearfix" accordion-heading type="button">
                <div class="pull-left">
                    <i  [ngClass]="{'icon-minus': groupval?.isOpen, 'icon-plus': !groupval?.isOpen}"> </i> {{c.CompetenyName}}
                </div>                
              </button>
            <app-competency-wrapper [questions]="c.Questions" [form]="c.form" [comments]="c.comments"></app-competency-wrapper>
        </accordion-group>

    </accordion>
    <div class="form-group row">
        
        <div class="pull-right col-md-12">
            <div class="form-group">
                <div class="pull-right" *ngIf="!isSubmitted">
                    <button (click)="cancelCompetencyRating()"
                        class="btn btn-secondary">Cancel</button>&nbsp;
                    <button (click)="savePeerCompetencyFormAsDraft()"
                        class="btn btn-primary">Save</button>&nbsp;
                    <button (click)="submitPeerCompetencyForm()"
                        class="btn btn-primary">Submit</button>
                </div>
                <div class="pull-right" *ngIf="isSubmitted">
                    <button (click)="cancelCompetencyRating()"
                        class="btn btn-secondary">Cancel</button>
                   
                </div>
            </div>

        </div>
    </div>
    </div>
    </div>
    
</div>
</div>
</div>
