<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/Optimal_Assessments_logo88x75.jpg', width: 33, height: 30, alt: 'Opt-Assess'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/Optimal_Assessments_logo88x75.jpg', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="false"
  [asideMenuToggler]="false"  
[mobileAsideMenuToggler]="false">
  <!-- <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Dashboard</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Users</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Settings</a>
    </li>
  </ul> -->
  <ul class="nav navbar-nav ml-auto">
    <!-- <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
    </li> -->
   
    <li class="nav-item dropdown" dropdown placement="bottom right">
      
      <a class="nav-link" data-toggle="langdropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <i class="icon-globe"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a (click)="switchLang(language)" class="dropdown-item"   *ngFor="let language of translate.getLangs()">
          <i class="fa fa-flag"></i> {{language}}
        </a>
      </div>
    </li>

   
    <li class="nav-item dropdown app-noty-main"  dropdown placement="bottom right">
      
      
      <a class="nav-link"  data-toggle="langdropdown" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <i class="icon-envelope-letter"></i><span class="badge badge-pill badge-info">{{notificationList.length==0?'':notificationList.length}}</span>
      </a>

      <div aria-labelledby="simple-dropdown"  (click)="$event.stopPropagation()"  *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu-xlg"
      style="left: auto; right: 0px;">

      

      <div class="dropdown-header text-center"><strong>You have {{notificationList.length}} messages</strong></div>
    

      <accordion [closeOthers]="oneAtATime" >
        <accordion-group class="accordian_panel acc-noty"  #groupval [isOpen]="groupval.isContentOpen" *ngFor="let c of notificationList" >
             <button  class="btn btn-link btn-block clearfix" accordion-heading type="button">
                 <div class="pull-left ">
                  
                     <a  (click)="false"
                     class="dropdown-item">

                     <!-- <i class="col-lg-2"  [ngClass]="{'icon-minus': groupval?.isOpen, 'icon-plus': !groupval?.isOpen}"> </i> -->
                     <div class="message" style="text-align: left;">
                       <div class="py-3 float-left ">
                         <!-- <div class="avatar"><img src="assets/img/avatars/emp.png" alt="admin@bootstrapmaster.com"
                             class="img-avatar"><span class="avatar-status badge-success"></span></div> -->
                       </div>
                       <div><small class="text-muted"></small><small class="text-muted float-right mt-1">{{getTime(c.CreatedOn)}}</small></div>
                       <div class="text-truncate font-weight-bold">
                         <!-- <span class="fa fa-exclamation text-danger"></span>  -->
                         {{c.Subject}}</div>
                       <div class="small text-muted text-truncate">{{removeHtmlTags(c.Template)}}</div>
                     </div>

                   </a>
                   
                 </div>
                 <div>
                     <!-- <span tooltip="Overall Rating is calculated and displayed after all the required ratings (from Manager, Peer, Direct Report) have been submitted." class="badge badge-secondary float-right pull-right avgScore"> Overall Rating: {{c.CompetencyAvgRating||0}}</span> -->
                 </div>
               </button>
              <div [innerHtml]="removeLogin(c.Template)" ></div>
         </accordion-group>
  
     </accordion>


      <!-- <a href="#"
        class="dropdown-item">
        <div class="message">
          <div class="py-3 mr-3 float-left">
            <div class="avatar"><img src="assets/img/avatars/emp.png" alt="admin@bootstrapmaster.com"
                class="img-avatar"><span class="avatar-status badge-success"></span></div>
          </div>
          <div><small class="text-muted">John Doe</small><small class="text-muted float-right mt-1">Just now</small></div>
          <div class="text-truncate font-weight-bold"><span class="fa fa-exclamation text-danger"></span> Important
            message</div>
          <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt...</div>
        </div>
      </a> -->
      <a href="#" class="dropdown-item">
        <div class="message">
          <div class="py-3 mr-3 float-left">
            <div class="avatar"><img src="assets/img/avatars/emp.png" alt="admin@bootstrapmaster.com"
                class="img-avatar"><span class="avatar-status badge-warning"></span></div>
          </div>
          <div><small class="text-muted">John Doe</small><small class="text-muted float-right mt-1">5 minutes ago</small>
          </div>
          <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
          <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt...</div>
        </div>
      </a>

      
    </div>

    </li>
  















    
    



    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/img/avatars/emp.png" class="img-avatar" alt="admin@bootstrapmaster.com"/>
        <span class="user-info">
          <small>Welcome,</small> <br>
         {{user?.FirstName}} {{ user?.LastName}}
      </span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <a class="dropdown-item" (click)="gotoProfile()"><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" (click)="gotoMessages()"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>
        
        
        <div class="divider"></div>
        
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav  [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <cui-breadcrumb>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
        <!-- <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn" href="#"><i class="icon-speech"></i></a>
          <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
          <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div> -->
      </li>
    </cui-breadcrumb>
    <!-- deprecation warning for 'app-breadcrumb' -->
    <!--<ol class="breadcrumb">-->
      <!--<app-breadcrumb></app-breadcrumb>-->
      <!--&lt;!&ndash; Breadcrumb Menu&ndash;&gt;-->
      <!--<li class="breadcrumb-menu d-md-down-none">-->
        <!--<div class="btn-group" role="group" aria-label="Button group with nested dropdown">-->
          <!--<a class="btn" href="#"><i class="icon-speech"></i></a>-->
          <!--<a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>-->
          <!--<a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>-->
        <!--</div>-->
      <!--</li>-->
    <!--</ol>-->
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
  
</div>
<app-footer>
  <span class="mr-auto">Developed by Ageis Technologies Inc @2002</span>
  <span>(c) Optimal Assessments and Consulting Inc. 2013, 2020</span>
</app-footer>
