<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form  autocomplete="off"  [formGroup]="resetForm">
                <h3>RECOVER YOUR PASSWORD</h3>
                <!-- <p class="text-muted">Create your account</p> -->
               

                <div class="input-group mb-3">
                  <!-- <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div> -->
                  <input type="password" formControlName="oldPassword"  name="oldPassword"
                  [ngClass]="{ 'is-invalid': f.oldPassword.touched  &&  f.oldPassword.invalid }"
                  class="form-control" placeholder="Current Password" autocomplete="new-password" required>

                  <div *ngIf=" f.oldPassword.invalid"  class="invalid-feedback">
                    <div *ngIf="f.oldPassword.errors.required">Current Password is required</div>
                    <div *ngIf="f.oldPassword.errors.minlength">Current Password must be at least 8 characters</div>
                  </div>
                </div>

                <div class="input-group mb-3">
                  <!-- <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div> -->
                  <input maxlength="15" matInput [type]="pswHide ? 'password' : 'text'"  (click)="onNewPasswordCick()"
                    formControlName="password"  name="password"
                    class="form-control" placeholder="New Password" autocomplete="new-password" required>
                    <div class="input-group-append">
                      <span class="input-group-text" (click)="pswHide = !pswHide" ><i  [ngClass]="  !pswHide ? 'icon-eye' : 'icon-lock'"   ></i></span>
                    </div>

                    <div class="input-group-append">
                      <span class=" text-warning input-group-text" *ngIf='f.password.status == "VALID" && strength=="Weak" '  > {{strength}}</span>
                      <span class=" text-info input-group-text"  *ngIf='f.password.status == "VALID" && strength=="Medium" '  > {{strength}}</span>
                      <span class=" text-success input-group-text" *ngIf='f.password.status == "VALID" && strength=="Strong" '  > {{strength}}</span>
                    </div>


                    <ng-container  *ngIf="  showValidations==true ">

                    <label   [ngClass]="  !has8char ? 'text-danger' : 'text-success'"   >
                    <i  [ngClass]="  !has8char ? 'cui-circle-x' : 'cui-circle-check'"   class=" icons font-1  mt-4">  </i> 
                    Must be at least 8 characters!
                  </label>

                  <label   [ngClass]="  !hasNumber ? 'text-danger' : 'text-success'"   >
                    <i  [ngClass]="  !hasNumber ? 'cui-circle-x' : 'cui-circle-check'"   class=" icons font-1  mt-4">  </i> 
                    Must be at least one Number!
                  </label>
                  <label   [ngClass]="  !hasLowercase ? 'text-danger' : 'text-success'"   >
                    <i  [ngClass]="  !hasLowercase ? 'cui-circle-x' : 'cui-circle-check'"   class=" icons font-1  mt-4">  </i> 
                    Must be at least one in Small Case!
                  </label>
                  <label   [ngClass]="  !hasUppercase ? 'text-danger' : 'text-success'"   >
                    <i  [ngClass]="  !hasUppercase ? 'cui-circle-x' : 'cui-circle-check'"   class=" icons font-1  mt-4">  </i> 
                    Must be at least one in Capital Case !
                  </label>
                  <label   [ngClass]="  !hasSpecialChar  ? 'text-danger' : 'text-success'"   >
                    <i  [ngClass]="  !hasSpecialChar   ? 'cui-circle-x' : 'cui-circle-check'"   class=" icons font-1  mt-4">  </i> 
                    Must be at least one of Special Characters(# $ _ -) 
                  </label>
                

                    </ng-container>


                    
                </div>
                <div class="input-group mb-4">
                  <!-- <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div> -->
                  <input formControlName="confirm_password"  name="confirm_password"
                   maxlength="15"  [type]="hide ? 'password' : 'text'" 
                   [ngClass]="{ 'is-invalid': f.confirm_password.touched  &&  f.confirm_password.invalid }"
                   class="form-control" placeholder="Confirm Password" autocomplete="new-password" required>

                  <div class="input-group-append">
                    <span class="input-group-text" (click)="hide = !hide" ><i  [ngClass]="  !hide ? 'icon-eye' : 'icon-lock'"   ></i></span>
                  </div>


                  <div *ngIf=" f.confirm_password.invalid"  class="invalid-feedback">
                    <div *ngIf="f.confirm_password.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.  </div>
                  </div>
                <!-- </div> -->


                </div>
                <!-- <button type="button" class="btn btn-block btn-success">Reset Password</button> -->
              </form>
            </div>
            <div class="card-footer p-4">
              <button class="btn btn-sm btn-primary pull-right"  [disabled]="!resetForm.valid"    (click)="onSubmit()"  type="submit"><i class="fa fa-dot-circle-o"></i> Reset</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
