<div class="payment_method_main">
  <div class="wrapper"> 
  
    <div class="release_method_cont">
      <div class="release_method_cont_in paymentinfo">
        <h3 class="wow fadeIn" data-wow-delay="0.2s">Release Payment info - Client Organization</h3>
        <div class="release_method_space">
          <div class="row m-b15">
            <div class="col-lg-12">
              <label>Organisation</label>
              <select [(ngModel)]="paymentModel.Organization"  class="form-control" (change)="orgnizationDetails($event.target.value)">
                <option value="">Select Organisation</option>
                <option *ngFor="let item of organizationList" [value]="item._id">{{item.Name}}</option>
              </select>
              <i class="fa fa-chevron-down"></i>
            </div>
          </div>
          <div class="row m-b15">
            <div class="col-lg-6">
              <label>Usage type</label>
              <input  readonly class="form-control" [(ngModel)]="paymentModel.UserType" name="userType"  />
              
            </div>
            <div class="col-lg-6">
               <div class="">
                  <label># of months to end of year</label>
                  <input  readonly class="form-control" [(ngModel)]="paymentModel.NoOfMonthsLable"   />
                   
                </div>
            </div>
          </div>
          <div class="row m-b15">
            <div class="col-lg-6">
              <label>Activation Date</label>
              <input [min]="paymentModel.ActivationDate" (dateInput)="onActivationDate($event.value)" [(ngModel)]="paymentModel.ActivationDate" (click)="picker.open()" readonly matInput [matDatepicker]="picker" >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker ></mat-datepicker>
            </div>
            <div class="col-lg-6">
               <div class="">
                  <label>Range</label>
                  <div *ngIf="isRangeSelectVisible">
                   <select  class="form-control" [(ngModel)]="paymentModel.Range" (change)="onSelectRange($event.target.value)">
                     <option>Select</option>
                      <option *ngFor="let range of rangeList" [value]="range._id">{{range.Range}}</option>
                    </select>
                    <i class="fa fa-chevron-down"></i>
                  </div>
                    <input *ngIf="isRangeSelectBox" [(ngModel)]="paymentModel.Range" type="text" readonly class="form-control"  />
                    
                </div>
            </div>
          </div>
          <div class="row m-b15">
            <div class="col-lg-6" *ngIf="useageTypeEmployee">
              <label># Of Employees</label>
              <input class="form-control" (input)="onChangeEmployee($event.target.value)" [(ngModel)]="paymentModel.NoOfEmployees"  />
            </div>
            
            <div class="col-lg-6">
                <div class="release_cont_freqency clearfix">
                  <label>Payment Frequency</label>
                  <div class="col-lg-6 no_pad m-t10">
                    <label class="container1">Annual
                      <input (change)="onChangeFrequency()" [(ngModel)]="paymentModel.isAnnualPayment"  name="isAnnualPayment" type="radio"  name="payment_frequency" [value]="true">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="col-lg-6 no_pad m-t10">
                    <label class="container1">Monthly
                      <input (change)="onChangeFrequency()" [(ngModel)]="paymentModel.isAnnualPayment" name="isAnnualPayment" type="radio" name="payment_frequency" [value]="false">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
            </div>
            
          </div>

          <div class="row m-b15">
            <div class="col-lg-6" *ngIf="isReseller">
              <label>#s needed</label>
              <input type="text"  class="form-control" [(ngModel)]="paymentModel.NoNeeded" />
            </div>
            
            
          </div>

        </div>
        
      </div>  
    </div>
    <div class="release_method_cont release_method_cont_middle">
      <div class="release_method_cont_in release_method_list paymentinfo">
        <h3 class="release_payment_bg  wow fadeIn" data-wow-delay="0.2s">Payment Breakup</h3>
          <div class="release_cost_list release_method_list">
            <ul>
              <li>
                <h6>Cost<strong>Cost for the year</strong></h6>
                <span>{{paymentStructure?paymentStructure.COST_PER_PA:0}}</span>
                <div class="clear"></div>
              </li>
              <li>
                <h6>Discount<strong>Discount for annual payment</strong></h6>
                <span>{{paymentStructure?paymentStructure.DISCOUNT_PA_PAYMENT:0}}</span>
                <div class="clear"></div>
              </li>
              <li>
                <h6>Total<strong>Total Amount</strong></h6>
                <span>{{paymentStructure?paymentStructure.TOTAL_AMOUNT:0}}</span>
                <div class="clear"></div>
              </li>
              <li>
                <h6>Due<strong *ngIf="paymentModel.isAnnualPayment">Amount due (annual payment)</strong><strong *ngIf="!paymentModel.isAnnualPayment">Amount due (monthly payment)</strong></h6>
                <span>{{paymentSummary?paymentSummary.DUE_AMOUNT:0}}</span>
                <div class="clear"></div>
              </li>
              <li>
                <h6>Tax<strong>Tax({{paymentScale?paymentScale.Tax:0}}%)</strong></h6>
                <span>{{paymentSummary?paymentSummary.TAX_AMOUNT:0}}</span>
                <div class="clear"></div>
              </li>
              <li>
                <h6>Total<strong *ngIf="paymentModel.isAnnualPayment">Total Amount Payable (for annual payments)</strong><strong *ngIf="!paymentModel.isAnnualPayment">Total Amount Payable (for monthly payments)</strong></h6>
                <span>{{paymentSummary?paymentSummary.TOTAL_PAYABLE_AMOUNT:0}}</span>
                <div class="clear"></div>
              </li>
              <li>
                <h6>Summary<strong>Amount payable is cost per employee per year, after discount,  number of employees  + taxes.</strong></h6>
                <div class="clear"></div>
              </li>
            </ul>
          </div>
          <div class="release_method_buttons">
            <button (click)="savePayment()" class="release_buttons_save">Save</button>
            <button (click)="paymentReleaseInfo()" class="release_buttons_save">Release Info</button>
            <a href="javscript:void(0)" class="release_buttons_cancel">Cancel</a>
            <div class="clear"></div>
          </div>
      </div>
    </div>
</div>
<!-- Right Content -->
<div class="payment_method_right">
  <h5 class="wow fadeIn" data-wow-delay="0.2s">Costing per Employee</h5>
  <div class="wow fadeIn" data-wow-delay="0.4s"><img src="assets/payments/costing_img.png"  alt="img"></div>
  <div class="payment_right_blue wow fadeIn" data-wow-delay="0.6s">
    <h6>19.80 <small>per year</small></h6>
    <span>Cost per employee per month (annual discount)</span>
  </div>
  <div class="payment_right_blue payment_right_white wow fadeIn" data-wow-delay="0.8s">
    <h6>19.80 <small>per year</small></h6>
    <span>Cost per employee per month (annual discount)</span>
  </div>
  <div class="payment_info_links">
    <h5 class="wow fadeIn" data-wow-delay="1.2s">Information Links</h5>
    <div class="wow fadeIn" data-wow-delay="1.4s">
      <a href="javascript:void(0)" class="payment_info_links_payment">
        <em><img src="assets/payments/bill.png"  alt="Bill"></em>
        <strong>Payment History</strong>
      </a>
      <a href="javascript:void(0)" class="payment_info_links_payment">
        <em><img src="assets/payments/purchase.png"  alt="Purchase"></em>
        <strong>Make Adhoc Purchase</strong>
      </a>
      <a href="javascript:void(0)" class="payment_info_links_payment">
        <em><img src="assets/payments/pricing.png" alt="Pricing"></em>
        <strong>View Pricing</strong>
      </a>
      <a href="javascript:void(0)" class="payment_info_links_payment">
        <em><img src="assets/payments/purchase.png" alt="Purchase"></em>
        <strong>Current Contract</strong>
      </a>
    </div>
  </div>
</div>
<!--End Right content-->
</div>

