.input-group-text-devmentgoals{
    width: 160px !important;
}

.mat-datepicker-toggle {
    position: absolute;
    right: 7px ;
    top: 9px !important;

}



.dev-goal-date {
    margin-bottom: 0 !important ;
    margin-top: 0 !important;
    padding: 20px 10px 36px;
    background: #fff;
}

::ng-deep .ag-center-cols-container{
    width:inherit !important;
  }