<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Create New Evaluation
                    <div>
                        <span> Current Evaluation: fff</span>
                    </div>
                    <div>
                        <span>kkkkkfffffffff</span>
                    </div>
                    <button type="button" class="btn btn-primary mr-1 pull-right" data-toggle="modal"
                        (click)="router.navigate(['ea/evaluation-list'])">
                        Go to list
                    </button>
                </div>
                <div class="card-body">

                    <form [formGroup]="evaluationForm">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text redStar">Select Model</span>
                                        </div>

                                        <mat-select formControlName="Model"
                                            [ngClass]="{ 'is-invalid':isFormSubmitted && f.Model.errors }"
                                            class="form-control">
                                            <mat-option *ngFor="let model of modelsList" [value]="model._id">
                                                {{model.Name}}</mat-option>
                                        </mat-select>

                                        <div *ngIf="isFormSubmitted && f.Model.errors" class="invalid-feedback">
                                            <div *ngIf="f.Model.errors.required">Evaluation Model is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text  redStar">Employees</span>
                                        </div>

                                        <input matInput (click)="filterOption($event.target.value)"
                                            (input)="filterOption($event.target.value)" class="form-control" type="text"
                                            placeholder="Select Employees" aria-label="Select Users"
                                            [matAutocomplete]="auto" formControlName="Employees">
                                        

                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                            <mat-option [value]="1" (click)="selectAllEmployees(ev)" #ev>
                                                <input type="checkbox"  #ev> Select All
                                            </mat-option>
                                            <mat-option *ngFor="let user of empFilterList" [value]="selectedEmployees">
                                                <div (click)="optionClicked($event, user)">
                                                    <mat-checkbox [checked]="user.selected"
                                                        (change)="toggleSelection(user)"
                                                        (click)="$event.stopPropagation()">
                                                        {{ user.FirstName }} {{ user.LastName }}
                                                    </mat-checkbox>
                                                </div>
                                            </mat-option>
                                        </mat-autocomplete>
                                        <!-- <mat-select-autocomplete
                                        [placeholder]="'Select Options'"
                                        [options]="empFilterList"
                                        [multiple]='true'
                                        name="optionsSelector"
                                        ngDefaultControl
                                        display ="FirstName"
                                        value="FirstName"
                                        [formControl]="f.Employees">
                                        
                                      </mat-select-autocomplete> -->

                                        <div *ngIf=" isFormSubmitted &&   f.Employees.errors" class="invalid-feedback">
                                            <div *ngIf="f.Employees.errors.required">must select at least one employee
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <ag-grid-angular *ngIf="selectedEmployees.length>0" style="width: auto; height: 200px;"
                                    class="ag-theme-alpine" [rowData]="selectedEmployees" [gridOptions]="EmpGridOptions"
                                    [pagination]="true" [paginationPageSize]="10" (gridReady)="onEmpGridReady($event)"
                                    (rowClicked)="onEmpRowClicked($event)">
                                </ag-grid-angular>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input (change)="onChangeKPIFor($event)" formControlName="ActivateKPI"
                                            class="form-check-input" type="checkbox" id="ActivateKPI">
                                        <label class="form-check-label" for="ActivateKPI">
                                            Activate KPI Setting Form
                                        </label>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input formControlName="ActivateActionPlan" class="form-check-input"
                                            type="checkbox" id="ActivateActionPlan">
                                        <label class="form-check-label" for="ActivateActionPlan">
                                            Activate Action Plan
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="enableKPIFor" class="col-md-6">
                                <div class="form-group">
                                    <label id="kpi-for-group">KPI For</label>
                                    <mat-radio-group aria-labelledby="kpi-for-group" class="example-radio-group"
                                        formControlName="KPIFor">
                                        <mat-radio-button class="kpi-radio-button" *ngFor="let kpifor of kpiForList"
                                            [value]="kpifor">
                                            {{kpifor}}
                                        </mat-radio-button>
                                    </mat-radio-group>

                                    <div *ngIf=" isFormSubmitted &&   f.KPIFor.errors" class="invalid-feedback">
                                        <div *ngIf="f.KPIFor.errors.required">must select KPI For</div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--Evaluation Details Begin-->
                        <div class="form-group row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text redStar"> Evaluation Period</span>
                                        </div>
                                        <div class="form-control">
                                            {{currentOrganization?.EvaluationPeriod}}-{{currentOrganization?.StartMonth}}
                                            {{currentOrganization?.EndMonth}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text redStar"> Evaluation Duration</span>
                                        </div>
                                        <div class="form-control">
                                            {{currentOrganization?.EvaluationDuration}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="modal-footer">

                            <button type="button" class="btn btn-secondary" (click)="reset()">Reset</button>
                            <button type="button" (click)="draftEvaluation()" class="btn btn-primary">Save</button>
                            <button type="button" (click)="submitEvaluation()" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





<ng-template #selectePeersView class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-primary modal-xlg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-primary">
                <h4 class="modal-title">Select Peers</h4>
                <button type="button" class="close" (click)="closePeersModel()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form autocomplete="off" novalidate="" class="ng-untouched ng-pristine ng-valid">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text redStar">Search</span>
                                    </div>
                                    <input [(ngModel)]="peersSearch" name="peersSearch" typeaheadOptionField="FirstName"
                                        [typeahead]="selectedPeersOb" [typeaheadAsync]="true" class="form-control"
                                        [typeaheadMinLength]="3" (typeaheadOnSelect)="onPeerEmployeeSelect($event.item)"
                                        placeholder="Enter Employee Name" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text redStar">Competency</span>
                                    </div>
                                    <mat-select placeholder="Select" class="form-control"
                                    name="Select"
                                    [(ngModel)]="selectedPeersCompetencyList"
                                    multiple
                                    #selectionModel="ngModel">
                                    
                          <app-select-check-all [model]="selectionModel" 
                                                [values]="PeersCompetencyList">
                          </app-select-check-all>  
                                                                  
                          <mat-option *ngFor="let option of PeersCompetencyList"
                                      [value]="option._id">
                            {{option.Name}}
                          </mat-option>
                        </mat-select>
                                    <!-- <mat-select name="PeersCompetencyList" [(ngModel)]="PeersCompetencyList"
                                        [ngClass]="{ 'is-invalid':isFormSubmitted && f.PeersCompetency.errors }"
                                        class="form-control" multiple>
                                        <mat-option [value]="1" (click)="selectAllPeersCompetency(ev)" #ev>SelectAll
                                        </mat-option>
                                        <mat-option *ngFor="let option of competencyList " [value]="option._id">
                                            {{option.Name}}
                                        </mat-option>
                                    </mat-select> -->

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ">Message</span>
                                    </div>
                                    <textarea class="form-control" [(ngModel)]="PeersCompetencyMessage" name="PeersCompetencyMessage"
                                        ></textarea>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <ag-grid-angular *ngIf="currentPeersList && currentPeersList.length>0" style="width: auto; height: 200px;"
                                class="ag-theme-alpine" [rowData]="currentPeersList"
                                [gridOptions]="peersForEmpGridOptions" [pagination]="true" [paginationPageSize]="10"
                                (gridReady)="onPeersGridReady($event)" (rowClicked)="onPeersRowClicked($event)">
                            </ag-grid-angular>
                        </div>
                    </div>
                </form>

                <div *ngIf="errorOnSave" class="form-group row">
                    <div class="alert alert-danger">
                        <strong>Error:</strong> {{errorMessage}}
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="savePeers()">Save</button>
                <button type="button" class="btn btn-secondary" #closeModal (click)="closePeersModel()">Close</button>

            </div>
        </div>
    </div>
</ng-template>



<ng-template #selecteDirectReporteeView class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-primary modal-xlg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-primary">
                <h4 class="modal-title">Direct Reportees </h4>
                <button type="button" class="close" (click)="closeDrModel()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form autocomplete="off" novalidate="" class="ng-untouched ng-pristine ng-valid">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text redStar">Search</span>
                                    </div>
                                    <input [(ngModel)]="directReporteeSearch" name="directReporteeSearch"
                                        typeaheadOptionField="FirstName" [typeahead]="selectedDirectReporteeTypeHead"
                                        [typeaheadAsync]="true" class="form-control" [typeaheadMinLength]="3"
                                        (typeaheadOnSelect)="onSelectDirectReportee($event.item)"
                                        placeholder="Enter Employee Name" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text redStar">Competency</span>
                                    </div>
                                    
                                        <mat-select placeholder="Select" class="form-control"
                                                    name="Select"
                                                    [(ngModel)]="directReporteeSelectedCompetencyList"
                                                    multiple
                                                    #selectionModel="ngModel">
                                                    
                                          <app-select-check-all [model]="selectionModel" 
                                                                [values]="directReporteeCompetencyList">
                                          </app-select-check-all>  
                                                                                  
                                          <mat-option *ngFor="let option of directReporteeCompetencyList"
                                                      [value]="option._id">
                                            {{option.Name}}
                                          </mat-option>
                                        </mat-select>
                                      

                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ">Message</span>
                                    </div>
                                    <textarea name="directReporteeCompetencyMessage" class="form-control"
                                        [(ngModel)]="directReporteeCompetencyMessage"></textarea>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <ag-grid-angular *ngIf="currentDirectReportees && currentDirectReportees.length>0"
                                style="width: auto; height: 200px;" class="ag-theme-alpine"
                                [rowData]="currentDirectReportees" [gridOptions]="directReporteesOfEmpGridOptions"
                                [pagination]="true" [paginationPageSize]="10"
                                (gridReady)="onDirectReporteeGridReady($event)"
                                (rowClicked)="onDirectReporteeGridRowClicked($event)">
                            </ag-grid-angular>
                        </div>
                    </div>
                </form>

                <div *ngIf="errorOnSave" class="form-group row">
                    <div class="alert alert-danger">
                        <strong>Error:</strong> {{errorMessage}}
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="saveDirectReportees()">Save</button>
                <button type="button" class="btn btn-secondary" #closeModal (click)="closeDrModel()">Close</button>

            </div>
        </div>
    </div>
</ng-template>