<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Roll-out Evaluations

                    <button type="button" class="btn btn-primary mr-1 pull-right" data-toggle="modal"
                        (click)="router.navigate(['ea/evaluation-list'])"><i class="fa fa-arrow-left" style="padding-right: 8px;"></i>
                        Back to list
                    </button>
                </div>
                <div class="card-body">
                    <form [formGroup]="evaluationForm">
                        <div class="form-group row">
                            <div class="col-md-4">

                                <div class="form-check form-check-inline">
                                    <input [checked]="initializeFormFor==='kpionly'" (change)="changeFormFor('kpionly')"
                                        class="form-check-input" type="radio" name="initializeForm" id="inlineRadio1"
                                        value="kpionly">
                                    <label class="form-check-label" for="inlineRadio1">Only Performance Goal's</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input [checked]="initializeFormFor!=='kpionly'" (change)="changeFormFor('evaluation')" class="form-check-input" type="radio"
                                        name="initializeForm" id="inlineRadio2" value="evaluation">
                                    <label class="form-check-label" for="inlineRadio2">Evaluation</label>
                                </div>

                            </div>
                            
                            <div *ngIf="initializeFormFor==='kpionly'" class="col-md-6">
                                <div class="">
                                    <label id="kpi-for-group" class="radio-combo-label">Performance Goal For</label>
                                    <mat-radio-group aria-labelledby="kpi-for-group" class="example-radio-group"
                                        formControlName="KPIFor">
                                        <mat-radio-button class="kpi-radio-button" *ngFor="let kpifor of kpiForList"
                                            [value]="kpifor">
                                            {{kpifor}}
                                        </mat-radio-button>
                                    </mat-radio-group>

                                    <div *ngIf=" isFormSubmitted &&   f.KPIFor.errors" class="invalid-feedback">
                                        <div *ngIf="f.KPIFor.errors.required">must select Performance Goal For</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--Evaluation Details Begin-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="period-label">Evaluation Period: </span>
                                    <span class="font-weight-bold period-value">
                                        {{currentOrganization?.EvaluationPeriod}}-{{currentOrganization?.StartMonth}}
                                        {{currentOrganization?.EndMonth}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="period-label"> Evaluation Duration: </span>
                                    <span class="font-weight-bold period-value">{{currentOrganization?.EvaluationDuration}}</span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            

                            <div class="col-md-6">
                                <div  class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text redStar">Employees</span>
                                        </div>
                                        <ng-multiselect-dropdown style="width: 60%;" name="Employees" [disabled]="false"
                                            [placeholder]="'Select Employee'"
                                            [(ngModel)]="selectedEmployeesForEvaluation" [data]="this.employeesList$"
                                            formControlName="Employees" [settings]="dropdownSettings"
                                            (onSelect)="onItemSelect($event)" (onDeSelect)="onEmployeeDeSelect($event)"
                                            (onSelectAll)="onSelectAllEmployees($event)"
                                            (onDeSelectAll)="onDeSelectAllEmployees($event)">
                                        </ng-multiselect-dropdown>

                                        <div *ngIf=" isFormSubmitted &&   f.Employees.errors" class="invalid-feedback">
                                            <div *ngIf="f.Employees.errors.required">must select at least one employee
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div  class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text redStar">Select Model</span>
                                        </div>
                                        <select class="form-control" (change)="onModelChange($event)"
                                            formControlName="Model">
                                            <option *ngFor="let model of modelsList" [value]="model._id">{{model.Name}}
                                            </option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div *ngIf="initializeFormFor==='evaluation'"  class="col-md-1">
                                <input [disabled]="disabledAddButton" type="button" class="btn btn-primary"
                                    (click)="addToGrid()" value="+">
                            </div>
                            <div *ngIf="initializeFormFor==='kpionly'"  class="col-md-1">
                                <input [disabled]="disabledAddButton" type="button" class="btn btn-primary"
                                    (click)="addToGridForKPI()" value="+">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <ag-grid-angular style="width: 100;; height: 500px;" class="ag-theme-alpine"
                                    [rowData]="selectedEmployeeList" [gridOptions]="EmpGridOptions" [pagination]="true"
                                    [paginationPageSize]="10" (gridReady)="onEmpGridReady($event)"
                                    (rowClicked)="onEmpRowClicked($event)">
                                </ag-grid-angular>
                            </div>
                        </div>


                        <div *ngIf="initializeFormFor==='kpionly'" class="modal-footer">

                            <button type="button" class="btn btn-secondary" (click)="reset()">Reset</button>
                            
                            <button type="button" (click)="saveKpiForm()" class="btn btn-primary">Submit</button>
                        </div>
                        
                        <div *ngIf="initializeFormFor!=='kpionly'" class="modal-footer">

                            <button type="button" class="btn btn-secondary" (click)="reset()">Reset</button>
                            <!-- <button type="button" (click)="draftEvaluation()" class="btn btn-primary">Save as
                                Draft</button> -->
                            <button type="button" (click)="submitEvaluation()" class="btn btn-primary">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





<ng-template #selectePeersView class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-primary modal-xlg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-primary">
                <h4 class="modal-title">Select Peers</h4>
                <button type="button" class="close" (click)="closePeersModel()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form autocomplete="off" novalidate="" class="ng-untouched ng-pristine ng-valid">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text  redStar">Employees</span>
                                        </div>

                                        <ng-multiselect-dropdown style="width: 75%;" name="Employees" [disabled]="false"
                                            [placeholder]="'Select Employee'" [data]="formattedPeers"
                                            [settings]="peerDropdownSettings" [(ngModel)]="selectedEmployeePeers"
                                            (onSelect)="onPeerSelect($event)" (onDeSelect)="onPeerDeSelect($event)"
                                            (onSelectAll)="onSelectAllPeers($event)"
                                            (onDeSelectAll)="onDeSelectAllPeers($event)">
                                        </ng-multiselect-dropdown>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text redStar">Competency</span>
                                    </div>
                                    <ng-multiselect-dropdown style="width: 70%;" name="peersCompetencyList"
                                        [disabled]="false" [placeholder]="'Select Competency'"
                                        [data]="this.peersCompetencyList" [settings]="competencyDropdownSettings"
                                        [(ngModel)]="currentPeerCompetencyList"
                                        (onSelect)="onSelectPeersCompetency($event)"
                                        (onSelectAll)="onSelectAllPeersCompetency($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ">Message</span>
                                    </div>
                                    <textarea class="form-control" [(ngModel)]="PeersCompetencyMessage"
                                        name="PeersCompetencyMessage"></textarea>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <ag-grid-angular style="width: auto; height: 200px;" class="ag-theme-alpine"
                                [rowData]="selectedEmployee.Peers||[]" [gridOptions]="peersForEmpGridOptions"
                                [pagination]="true" [paginationPageSize]="10" (gridReady)="onPeersGridReady($event)"
                                (rowClicked)="onPeersRowClicked($event)">
                            </ag-grid-angular>
                        </div>
                    </div>
                </form>

                <div *ngIf="errorOnSave" class="form-group row">
                    <div class="alert alert-danger">
                        <strong>Error:</strong> {{errorMessage}}
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="savePeers()">Save</button>
                <button type="button" class="btn btn-secondary" #closeModal (click)="closePeersModel()">Close</button>

            </div>
        </div>
    </div>
</ng-template>

<ng-template #selecteDirectReporteeView class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-primary modal-xlg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-primary">
                <h4 class="modal-title">Select Direct Report(s) </h4>
                <button type="button" class="close" (click)="closeDrModel()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form autocomplete="off" novalidate="" class="ng-untouched ng-pristine ng-valid">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text  redStar">Employees</span>
                                    </div>
                                    <ng-multiselect-dropdown style="width: 75%;" name="EmployeeDirectreportee"
                                        [disabled]="false" [placeholder]="'Select Employee'"
                                        [data]="currentEmployeeDirectReportees"
                                        [(ngModel)]="selectedEmployeeDirectReportees"
                                        [settings]="directReporteeDropdownSettings"
                                        (onSelect)="onDirectReporteeSelect($event)"
                                        (onDeSelect)="onDirectReporteeDeSelect($event)"
                                        (onSelectAll)="onSelectAllDirectReportee($event)"
                                        (onDeSelectAll)="onDeSelectAllDirectReportee($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text redStar">Competency</span>
                                    </div>
                                    <ng-multiselect-dropdown style="width:70%;" name="directReporteeCompetencyList"
                                        [disabled]="false" [placeholder]="'Select Competency'"
                                        [data]="directReporteeCompetencyList" [settings]="competencyDropdownSettings"
                                        [(ngModel)]="seletedDirectReporteeCompetencyList"
                                        (onSelect)="onSelectAllDirectReporteeCompetency($event)"
                                        (onSelectAll)="onSelectDirectReporteeCompetency($event)"
                                        (onDeSelect)="onDeSelectDirectReporteeCompetency($event)"
                                        (onDeSelectAll)="onDeSelectAllDirectReporteeCompetency($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ">Message</span>
                                    </div>
                                    <textarea name="directReporteeCompetencyMessage" class="form-control"
                                        [(ngModel)]="directReporteeCompetencyMessage"></textarea>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <ag-grid-angular style="width: auto; height: 200px;" class="ag-theme-alpine"
                                [rowData]="selectedEmployeeDirectReportees||[]"
                                [gridOptions]="directReporteesOfEmpGridOptions" [pagination]="true"
                                [paginationPageSize]="10" (gridReady)="onDirectReporteeGridReady($event)"
                                (rowClicked)="onDirectReporteeGridRowClicked($event)">
                            </ag-grid-angular>
                        </div>
                    </div>
                </form>

                <div *ngIf="errorOnSave" class="form-group row">
                    <div class="alert alert-danger">
                        <strong>Error:</strong> {{errorMessage}}
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="saveDirectReportees()">Save</button>
                <button type="button" class="btn btn-secondary" #closeModal (click)="closeDrModel()">Close</button>

            </div>
        </div>
    </div>
</ng-template>
