.kpi-for-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .kpi-radio-button {
    margin: 5px;
  }
  ::ng-deep .ag-center-cols-container{
    width:inherit !important;
  }