<div class="animated fadeIn">
    <form [formGroup]="evaluationForm">

        <div class="form-group row">

            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text redStar">Select Employee(s)</span>
                        </div>
                        <select [ngClass]="{ 'is-invalid':isFormSubmitted &&  f.Employees.errors }"
                            formControlName="Employees" class="form-control">
                            <option value="f">Employee 1</option>
                        </select>
                        <div *ngIf=" isFormSubmitted &&   f.Employees.errors" class="invalid-feedback">
                            <div *ngIf="f.Employees.errors.required">must select at least one employee</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-check">
                        <input formControlName="ActivateKPI" class="form-check-input" type="checkbox" id="ActivateKPI">
                        <label class="form-check-label" for="ActivateKPI">
                            Activate KPI Setting Form
                        </label>
                    </div>
                    
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input formControlName="ActivateActionPlan" class="form-check-input" type="checkbox"
                            id="ActivateActionPlan">
                        <label class="form-check-label" for="ActivateActionPlan">
                            Activate Action Plan
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!--Evaluation Details Begin-->
        <div class="form-group row">

            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text redStar">Select Evaluation Period</span>
                        </div>
                        <select [ngClass]="{ 'is-invalid':isFormSubmitted &&  f.EvaluationPeriod.errors }"
                            formControlName="EvaluationPeriod" class="form-control">
                            <option value="f">period 1</option>
                        </select>
                        <div *ngIf="isFormSubmitted &&   f.EvaluationPeriod.errors" class="invalid-feedback">
                            <div *ngIf="f.EvaluationPeriod.errors.required">must select evaluation period</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text redStar"> Evaluation Duration</span>
                        </div>
                        <select [ngClass]="{ 'is-invalid':isFormSubmitted &&  f.EvaluationDuration.errors }"
                            formControlName="EvaluationDuration" class="form-control">
                            <option value="30">30</option>
                            <option value="45">45</option>
                            <option value="60">60</option>
                            <option value="75">75</option>
                            <option value="90">90</option>
                            
                        </select>
                        <div *ngIf="isFormSubmitted &&   f.EvaluationDuration.errors" class="invalid-feedback">
                            <div *ngIf="f.EvaluationDuration.errors.required">must select evaluation duration</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--Evaluation Details End-->
<div class="form-group row">
    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text redStar">Select Model</span>
                </div>
                <select [ngClass]="{ 'is-invalid':isFormSubmitted &&  f.Model.errors }"
                    formControlName="Model" class="form-control">
                    <option value="f">model 1</option>
                </select>
                <div *ngIf="isFormSubmitted &&   f.Model.errors" class="invalid-feedback">
                    <div *ngIf="f.Model.errors.required">must select Model</div>
                </div>
            </div>
        </div>
    </div>
</div>
        <!--Peer Rating Model Begin-->
        <div class="form-group row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="checkbox" formControlName="PeerRatingNeeded"> Peer Rating Needed
                </div>
            </div>
        </div>
        <h2>Peer Rating Needed</h2>
        <div class="form-group row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Peers(s)</span>
                        </div>
                        <select formControlName="Peers" class="form-control">
                            <option value="0">Please select</option>
                            <option value="1">Option #1</option>
                            <option value="2">Option #2</option>
                            <option value="3">Option #3</option>
                        </select>
                        <div *ngIf="isFormSubmitted && f.Peers.errors" class="invalid-feedback">
                            <div *ngIf="f.Peers.errors.required">Peers is required</div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text redStar">Competency</span>
                        </div>
                        <select [ngClass]="{ 'is-invalid':isFormSubmitted &&  f.PeerCompetency.errors }"
                            formControlName="PeerCompetency" class="form-control" class="form-control">
                            <option value="0">Please select</option>
                            <option value="1">Option #1</option>
                            <option value="2">Option #2</option>
                            <option value="3">Option #3</option>
                        </select>
                        <div *ngIf="isFormSubmitted && f.PeerCompetency.errors" class="invalid-feedback">
                            <div *ngIf="f.PeerCompetency.errors.required">Peer Comptency is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text redStar">Message</span>
                        </div>
                        <select [ngClass]="{ 'is-invalid':isFormSubmitted && f.PeerComptencyMessage.errors }"
                            class="form-control" formControlName="PeerComptencyMessage">
                            <option value="0">Please select</option>
                            <option value="1">Option #1</option>
                            <option value="2">Option #2</option>
                            <option value="3">Option #3</option>
                        </select>
                        <div *ngIf="isFormSubmitted && f.PeerComptencyMessage.errors" class="invalid-feedback">
                            <div *ngIf="f.PeerComptencyMessage.errors.required">Message is required</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Peer Rating Model End-->

        <!--Direct Report Rating Model Begin-->
        <div class="form-group row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="checkbox" formControlName="DirectReportRateNeeded"> Direct Report Rating Needed
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Direct Reportees</span>
                        </div>
                        <select formControlName="DirectReports" class="form-control">
                            <option value="0">Please select</option>
                            <option value="1">Option #1</option>
                            <option value="2">Option #2</option>
                            <option value="3">Option #3</option>
                        </select>

                        <div *ngIf="isFormSubmitted && f.DirectReports.errors" class="invalid-feedback">
                            <div *ngIf="f.DirectReports.errors.required">DirectReports is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text redStar">Competency</span>
                        </div>
                        <select [ngClass]="{ 'is-invalid':isFormSubmitted &&  f.DirectReportsCompetency.errors }"
                            formControlName="DirectReportsCompetency" class="form-control" class="form-control">
                            <option value="0">Please select</option>
                            <option value="1">Option #1</option>
                            <option value="2">Option #2</option>
                            <option value="3">Option #3</option>
                        </select>
                        <div *ngIf="isFormSubmitted && f.DirectReportsCompetency.errors" class="invalid-feedback">
                            <div *ngIf="f.DirectReportsCompetency.errors.required">Direct Comptency is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text redStar">Message</span>
                        </div>
                        <textarea formControlName="DirectReportMessage"></textarea>
                        <div *ngIf="isFormSubmitted && f.DirectReportMessage.errors" class="invalid-feedback">
                            <div *ngIf="f.DirectReportMessage.errors.required">Message is required</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Direct Report Rating Model End-->
        <div class="modal-footer">

            <button type="button" class="btn btn-secondary" 
              (click)="reset()">Reset</button>
            <button type="button" (click)="submitEvaluation()" class="btn btn-primary">Submit</button>
          </div>
    </form>

</div>