.kpi-for-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .kpi-radio-button {
    margin: 5px;
  }
  ::ng-deep .ag-center-cols-container{
    width:inherit !important;
  }
  .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding-right: 1rem !important ;
    padding-left: 1rem !important ;
    padding-top: 0rem !important ;
    padding-bottom: 0rem !important ;
}