
<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
                Set up KPI
            
            <div class="form-group form-actions pull-right m-0">
              <button [disabled]='isKpiActivated' class="btn btn-sm btn-primary" data-toggle="modal" (click)="createKpi()">Add New KPI</button>
            </div>
            </div>
            <div class="card-body">
              <!-- <div class="row"> -->
             

              <ag-grid-angular style="width: auto; height: 500px;" 
              class="ag-theme-alpine" [rowData]="kpiListData"
                [columnDefs]="columnDefs"
                [pagination]="true"
                [paginationPageSize]="10"
                 (rowClicked)="onKpiGridRowClick($event)" >
              </ag-grid-angular>
    
    
                  
              <!-- </div> -->
              <br>
             
            </div>
          </div>
        </div><!--/.col-->
      </div><!--/.row-->
    </div>



    
<!--For PR track  in model-->
<ng-template #kpiTrack class="modal fade " tabindex="-1" role="dialog"

>
  <div class="modal-body">
    <div class="modal-content no_bdr">
        <div class="container clearfix" style="height: 200px;   overflow-y: auto;">
          <ul class="timeline clearfix">
            <li   [ngClass]="{ 'active' : last }"  *ngFor="let t of currentRowItem.tracks;let i=index;let last = last">
              <span>{{t.comment}}</span>
              <div class="clear"></div>
              <i *ngIf="!last"></i>
            </li>
          </ul>          
        </div>
      <div class="modal-footer m-auto" style="border-top:none;">
        <button type="button" (click)="trackViewRef.hide()" class="btn btn-primary pull-right"
        data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</ng-template>
