
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form>
                <h2>RECOVER YOUR PASSWORD</h2>
                <!-- <p class="text-muted">Create your account</p> -->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email" autocomplete="email" required>
                </div>
               
                <!-- <button type="button" class="btn btn-block btn-success">Create Account</button> -->
              </form>
            </div>
            <div class="card-footer p-4">
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-block btn-facebook" type="button"><span>Reset</span></button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block btn-twitter"  routerLink='/login' type="button"><span>Go back to login</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>


<!-- 
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>RECOVER YOUR PASSWORD</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="forgotPswForm" class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" formControlName="email"  name="email" required>
              <mat-error *ngIf="f.email.touched && f.email.invalid && f.email.errors.required"   > Email is mandatory.               </mat-error>
              <mat-error *ngIf="f.email.touched && f.email.invalid && f.email.errors.email"   > Please provide a valid email            </mat-error>

              </mat-form-field>
            </td>
          </tr>
         
    
    </table>
      </form>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
        
      <button [disabled]="!forgotPswForm.valid"   mat-raised-button (click)="onSubmit()" color="primary"> RESET </button>
      <button   mat-raised-button routerLink='/login' color="primary"> Go back to login </button>
    </mat-card-actions>
  </mat-card>
 -->


  