// Here you can add other styles

.breadcrumb {
    background-color: #0063af !important;
}
.breadcrumb li a {
    color: #fff !important;
}
.breadcrumb li  {
  visibility: hidden !important;
}

.nav-tabs .nav-link.active {

  background-color: #c8ced3 !important;
}

.form-control.is-invalid {
    background-image: none !important;
}

// @media (min-width: 992px)
.modal-xlg {
    max-width: 950px;
}

.redStar:after
{
    color: red;
    content: "\00a0*";
}

.autoc-border {
    border: 1px solid #ddd !important;
    width: 62%;
}
.autoc-border:focus,.mat-focus-indicator:focus {
    outline:none
    
}

.mat-datepicker-toggle {

    position: absolute;
    right: 1px;
    top: -3px;
}

.mat-date-class .mat-datepicker-toggle {

  position: absolute;
  right: 7px;
  top: 10px;
}

.mat-dialog-container{

    padding: 0 !important;
}


.view-only {
 pointer-events: none !important;

}

.sel-kpi {
  font-size: 13px;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px 10px;
  display:block;
  margin: 0 0px 10px 0;
  background: #f5f5f7;
  
}


.all-events {
    pointer-events: all !important;
   
   }
.user-info {
    max-width: 100px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
    line-height: 15px;
    position: relative;
}


// For track 

  
.timeline{
    counter-reset: year 0;
    position: relative;
  }

  
  .timeline li{
    list-style: none;
    /* float: left;
    width: 33.3333%; */
    position: relative;clear: both;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    width: 100%;
    margin:10px 0 60px 3px; float: none;
    
  }
  
  /* ul:nth-child(1){
    color: #4caf50;
  } */
  
  .timeline li:before{
    counter-increment: year;
    content: counter(year);
    width: 40px;
    height: 40px;
    border: 3px solid #4caf50;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 35px;
    /* margin: 0 auto 10px auto; */
    background: "drop-down1" #F1F1F1;
    color: #000;
    transition: all ease-in-out .3s;
    cursor: pointer; float:left;
  }

  .timeline li span {font-size: 14px; float: left; padding: 12px 0 0 20px;}
  .timeline li i        { width:15px; height: 17px;display: block; 
    background: url(../assets/img/drop-down.png)  no-repeat 0 0;position: relative;
    left: 12px;
    top: 52px;}


    
  .timeline li:after{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: grey;
    top: 25px;
    left: -50%;
    z-index: -999;
    transition: all ease-in-out .3s;
   
  }
  
  .timeline li:first-child:after{
    content: none;
  }
  .timeline li.active{
    color: #555555;
  }
  .timeline li.active:before{
    background: #4caf50;
    color: #F1F1F1;
  }
  
  .timeline li.active + li:after{
    background: #4caf50;
  }



  ul.approval  > li{
    padding: 0.30rem !important;
    font-weight: bolder !important;
    text-transform: uppercase !important;
  }


  .sidebar .nav-link {
    padding: 0.75rem 0.3rem;
  }


// New Styles added as part of UI Fixes --- GOVIND
.navbar-nav {
  margin-right: 20px;
}

.user-info small {
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.user-info {
  color: #000;
  font-weight: 600;
}

.pro-tabs .tab-content {
  border: none;
}

.pro-tabs .tab-content .tab-pane {
  padding: 0px;
}

.nav-link {
  font-weight: 600;
  font-size: 13px;
}

.nav-link .fa {
  font-weight: 600;
}

.nav-tabs .nav-item {
  background: #eff4f9;
  border-radius: 4px;border-right:1px solid #ddd;
}

.nav-link {
  font-weight: 600;
  font-size: 13px;
  padding: 10px 32px;
}

.nav-tabs .nav-link {
  color: #717171;
}

.nav-tabs .nav-link.active {
  background-color: #427cac !important;
  color: #fff;
}

.add_newbuttons {
  position: absolute;
  top: 21px;
  right: 20px;
}

.card-header {
  font-size: 19px;
  color: #026eb6;
  font-weight: 600;
  line-height: 32px;
}

.form-group-label {
  font-size: 16px;
  color: #000;
  padding-bottom: 15px;
  font-weight: 600;
}

.heading-with-margin {
  font-size: 16px;
  color: #000;
  padding-bottom: 15px;
  font-weight: 600;
  margin: 20px;
}

.modal-title {
  font-size: 18px;
  line-height: 22px;
  padding: 12px 0 0;
}

.modal-header .close {
  font-size: 24px;
  color: #fff;
  padding: 25px 34px 0 !important;
}

.button:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}

.modal-dialog {
  max-width: 950px;
}

.form-check-inline .form-check-label {
  font-size: 14px;
  color: #000;
}

.radio-combo-label {
  font-size: 15px;
  color: #000;
  /* margin-top: -7px; */
  display: inline-block;
  margin: 0 0 0 0;
  position: relative;
  top: -4px;
}

.mat-radio-label-content {
  color: #000;
}

.period-label {
  font-size: 16px;
  color: #717171;
  font-weight: 600;
}

.period-value {
  color: #000;
  font-size: 16px;
}

.strong-key {
  font-size: 13px;
  color: #000;
  font-weight: 600 !important;
  margin-bottom: 10px;
  display: block;
}

.span-value {
  font-size: 13px;
  color: #000;
  font-weight: 400
}

.levarage_txt {
  font-size: 14px;
  color: #000;
  font-weight: 600;
  padding-bottom: 6px;
  display: block;
}

accordion .panel-default {
  margin-bottom: 10px;
}

.avgScore {
  padding: 10px;
}

.autoc-border .form-check-input {
  margin-left: 30px;
}


.btn-block {
  padding: 0px;
}

.panel-heading {
  padding: 9px 20px;
}

.accordion-header-padding {
  padding-top: 6px;
}
