// Here you can add other styles

.breadcrumb {
    background-color: #0063af !important;
}
.breadcrumb li a {
    color: #fff !important;
}

.form-control.is-invalid {
    background-image: none !important;
}

// @media (min-width: 992px)
.modal-xlg {
    max-width: 950px;
}

.redStar:after
{
    color: red;
    content: "\00a0*";
}

.autoc-border {
    border: 1px solid #ddd !important;
    width: 62%;
}
.autoc-border:focus,.mat-focus-indicator:focus {
    outline:none
    
}

.mat-datepicker-toggle {

    position: absolute;
    right: 1px;
    top: -3px;
}

.mat-dialog-container{

    padding: 0 !important;
}


.view-only {
 pointer-events: none !important;

}


.all-events {
    pointer-events: all !important;
   
   }
.user-info {
    max-width: 100px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
    line-height: 15px;
    position: relative;
}


// For track 

  
.timeline{
    counter-reset: year 0;
    position: relative;
  }

  
  .timeline li{
    list-style: none;
    /* float: left;
    width: 33.3333%; */
    position: relative;clear: both;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    width: 100%;
    margin:10px 0 60px 3px; float: none;
    
  }
  
  /* ul:nth-child(1){
    color: #4caf50;
  } */
  
  .timeline li:before{
    counter-increment: year;
    content: counter(year);
    width: 40px;
    height: 40px;
    border: 3px solid #4caf50;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 35px;
    /* margin: 0 auto 10px auto; */
    background: "drop-down1" #F1F1F1;
    color: #000;
    transition: all ease-in-out .3s;
    cursor: pointer; float:left;
  }

  .timeline li span {font-size: 14px; float: left; padding: 12px 0 0 20px;}
  .timeline li i        { width:15px; height: 17px;display: block; 
    background: url(../assets/img/drop-down.png)  no-repeat 0 0;position: relative;
    left: 12px;
    top: 52px;}


    
  .timeline li:after{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: grey;
    top: 25px;
    left: -50%;
    z-index: -999;
    transition: all ease-in-out .3s;
   
  }
  
  .timeline li:first-child:after{
    content: none;
  }
  .timeline li.active{
    color: #555555;
  }
  .timeline li.active:before{
    background: #4caf50;
    color: #F1F1F1;
  }
  
  .timeline li.active + li:after{
    background: #4caf50;
  }



  ul.approval  > li{
    padding: 0.30rem !important;
    font-weight: bolder !important;
    text-transform: uppercase !important;
  }