// Here you can add other styles

.breadcrumb {
    background-color: #0063af !important;
}
.breadcrumb li a {
    color: #fff !important;
}

.form-control.is-invalid {
    background-image: none !important;
}

// @media (min-width: 992px)
.modal-xlg {
    max-width: 950px;
}


