// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

.success-snackbar {
    background:rgb(166, 201, 181);
  }
  .error-snackbar {
    background:rgb(173,35,0);
  }


  /* You can add global styles to this file, and also import other style files */
// @import './app/material-theme.scss';

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// html, body {
//     margin: 0;
//     height: 100%;
//   }

.success-snackbar {
  background:rgb(3, 87, 39);
  color: white;
}
.error-snackbar {
  background:rgb(173,35,0);
  
}
@media only screen and (max-width: 600px)  {
  html {
    font-size: 80%;
  }
}

.md-autocomplete-suggestions-container {
  z-index: 100000 !important;
}
.cdk-overlay-container {
  position: fixed;
  z-index: 99999;
}
.cdk-overlay-container, .cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}


@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
    @include ag-theme-alpine();
}

.avgScore{
  font-size: small;
}