<div class="animated fadeIn" >
    <div>
        <div *ngIf="showKpiForm;else noRecordsFound">
            <div class="card">
                <div *ngIf="accessingFrom!='currEvaluation' " class="card-header">
                    <span style="color: #717171;">{{currentEmpName}} -</span> Accomplishments

                    <div class="form-group form-actions pull-right m-0">
                        <button type="button" class="btn btn-sm btn-primary"
                            (click)="onCancle()">
                            <i class="fa fa-arrow-left" style="padding-right: 8px;"></i>Back to list
                        </button>
                    </div>

                </div>
                <div class="card-body" id="sgsgggjsr" #sgsgggjsr>


                    <form autocomplete="off" [formGroup]="kpiForm" novalidate="" 
                        [ngClass]="{ 'view-only': currentAction == 'view' }" class="ng-untouched ng-pristine ng-valid">

                        <div class="row">
                            <div class="col-md-6 kpi-fl ">
                                <div class="col-md-4">
                                    <strong class="strong-key">Evaluation Period: </strong>
                                </div>
                                <div class="col-md-5"><span span
                                        class="span-value">{{getEVPeriod()}}</span></div>

                            </div>

                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <strong class="strong-key">Title: </strong>
                                </div>
                                <div class="col-md-5"><span class="span-value">{{loginUser?.Title}}</span></div>

                            </div>

                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <strong class="strong-key">Department: </strong>
                                </div>
                                <div class="col-md-5"><span class="span-value">{{loginUser?.Department}}</span></div>

                            </div>

                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <strong class="strong-key">Length of Service: </strong>
                                </div>
                                <div class="col-md-5"><span
                                        class="span-value">{{ loginUser?.JoiningDate| dateAgo}}</span></div>

                            </div>

                            <!-- </div>

                        <div class="row"> -->
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <strong class="strong-key">Manager: </strong>
                                </div>
                                <div class="col-md-5"><span
                                        class="span-value">{{loginUser?.Manager? loginUser?.Manager?.FirstName :'NA'}}</span>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <strong class="strong-key">Length of Time in Current Role: </strong>
                                </div>
                                <div class="col-md-5"><span
                                        class="span-value">{{ loginUser?.RoleEffFrom | dateAgo}}</span></div>

                            </div>

                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <strong class="strong-key">Leadership Role: </strong>
                                </div>
                                <div class="col-md-5"><span
                                        class="span-value">{{loginUser?.DirectReports?'Yes':'No'}}</span></div>

                            </div>

                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <strong class="strong-key">Job Level: </strong>
                                </div>
                                <div class="col-md-5"><span
                                        class="span-value">{{loginUser?.JobLevel?.JobLevelName}}</span></div>

                            </div>

                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">
                                                Accomplishment</span>
                                        </div>
                                        <textarea max="2000" maxlength="2000" class="form-control" type="text"
                                           
                                            [ngClass]="{ 'is-invalid': f.Accomplishment.touched  &&  f.Accomplishment.invalid }"
                                            formControlName="Accomplishment" name="Accomplishment" required [matAutocomplete]="kpiAuto"> </textarea>

                                        <mat-autocomplete #kpiAuto="matAutocomplete"
                                            (optionSelected)="onKpiAutoSelected($event)" [displayWith]="displayKPIFn">
                                            <mat-option *ngFor="let option of filteredOptionsKPI | async"
                                                [value]="option">
                                                {{option.Accomplishment}}
                                            </mat-option>
                                        </mat-autocomplete>

                                        <div *ngIf="f.Accomplishment.touched && f.Accomplishment.invalid" class="invalid-feedback">
                                            <div *ngIf="f.Accomplishment.errors?.required">Accomplishment is mandatory.</div>
                                            <div *ngIf="f.Accomplishment.errors.minlength">Accomplishment Name must be at least 2
                                                characters </div>
                                            <div *ngIf="f.Accomplishment.errors.hasKPISplChars">Accomplishment can accept only .,-,(,),&,#,:,/,?</div>
                                        </div>

                                    </div>
                                </div>
                            </div>



                        </div>





                        <div class="row">

                           


                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Completion Date</span>
                                        </div>
                                        <input class="autoc-border  form-control"
                                            (click)=" picker.open()" readonly matInput
                                            [matDatepicker]="picker" formControlName="CompletionDate"
                                            name="CompletionDate"
                                            [ngClass]="{ 'is-invalid': f.CompletionDate.touched  &&  f.CompletionDate.invalid }"
                                            required>
                                        <mat-datepicker-toggle   matSuffix
                                            [for]="picker">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>

                                        <div *ngIf="f.CompletionDate.touched && f.CompletionDate.invalid"
                                            class="invalid-feedback">
                                            <div *ngIf="f.CompletionDate.errors.required">Completion Date is
                                                mandatory.</div>
                                        </div>
                                    </div>
                                </div>
                             
                                    <div class="form-group">
                                        <div class="form-check ml-2">
                                            <input *ngIf=" (currentAction == 'edit' && f?.ShowToManager?.value &&  f?.IsDraft?.value=='false') " 
                                             disabled    [checked]="f?.ShowToManager?.value " formControlName="ShowToManager"
                                            class="form-check-input" type="checkbox" id="ShowToManager">

                                            <input *ngIf=" !(currentAction == 'edit' && f?.ShowToManager?.value &&  f?.IsDraft?.value=='false') "
                                             [checked]="f?.ShowToManager?.value " formControlName="ShowToManager"
                                                class="form-check-input" type="checkbox" id="ShowToManager">
                                            <label class="form-check-label" for="ShowToManager">
                                                Show to Manager
                                            </label>
                                        </div>
    
                                    </div>



                            </div>



                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Comments</span>
                                        </div>
                                        <textarea maxlength="2000" class="form-control" cols="" rows="4"
                                            [ngClass]="{ 'is-invalid': f.Comments.touched  &&  f.Comments.invalid }"
                                            formControlName="Comments" name="Comments">  </textarea>

                                            <div *ngIf="f.Comments.touched && f.Comments.invalid" class="invalid-feedback">
                                                <div *ngIf="f.Comments.errors.hasKPISplChars">Comments can accept only .,-,(,),&,#,:,/,?</div>
                                            </div>



                                    </div>
                                </div>

                            </div>




                        </div>


                        <!-- <p class="pull-left  hide-print"> <strong>Note: </strong> All fields marked with * are mandatory</p> -->
                        <div class="clearfix"></div>
                        <div *ngIf="currentAction != 'create'"
                            class=" row form-group form-actions clearfix w-100 d-block all-events ">
                            <button [disabled]='selIndex==0' class="btn btn-link pull-left"
                                (click)="priKpi()">Previous</button>
                            <button [disabled]='selIndex+1 == empKPIData.length' class="btn btn-link pull-right"
                                (click)="nextKpi()">Next</button>

                        </div>

                      



                    </form>
                </div>
            </div>

        </div>

        <ng-template class="col-md-12" #noRecordsFound>
          <h3 class="heading-with-margin">{{showLoading ? 'Loading...' : 'No Accomplishments Found'}}</h3>
        </ng-template>
    </div>
</div>
